<% content_for :title do %>Business Management Integration<% end %>

<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('bizopsprocess'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Business Operations Processes', page_path('bizopsprocess')  %>
	</p>
<h1><i class="glyphicon glyphicon-info-sign"></i>IT Business Management Integration</h1>
<p>
			<%= link_to image_tag("discoversymbol.png", :size => '50x50',alt: "Ops mgt"), page_path('bizops'),class: 'pull-left' %>  
			
</p>
<div class ='container padp'> 
	<p>In order to bring the separate disciples of project management and service management together under the governance of business management we will move to a 
		common terminology, Discover, Plan, Build, Run and Govern. It is a <strong>Keep It Simple (KIS)</strong> approach. This will drive integration of process across the Organisation.
		
		
		
	</p> </div>
	

<%=link_to image_tag("opscyclegovern2.png",:size => '450x320', alt: "Project Mgt"  )%>
<div class="container">
<p>The methodologies all have a cyclic approach and at a high level fit into these categories. Fine tuning is done at the detailed level.</p>

<p>Below is how the phases of the 4 major change methodologies line up at the highest level</p>

<div class="row">
  <div class="col-md-2 "><strong>KIS</strong></div>
   <div class="col-md-2 "><strong>ITIL</strong></div>
   <div class="col-md-2 "><strong>PMBOK</strong></div>
   <div class="col-md-2 "><strong>COBIT</strong></div>
   <div class="col-md-2 "><strong>Lean Six Sigma</strong></div>
</div> <!--row 1 -->

<div class="row">
  <div class="col-md-2 rowborder">Discover</div>
  <div class="col-md-2 rowborder">Service Strategy</div>
  <div class="col-md-2 rowborder">Initiation</div> 
    <div class="col-md-2 rowborder">Define Drivers, What are we now?, What do we want to be?</div>
    <div class="col-md-2 rowborder">Define, Measure, Analyse</div>    
</div> <!--row 2 -->
<div class="row">
  <div class="col-md-2 rowborder">Plan</div>
  <div class="col-md-2 rowborder">Service Design</div>
  <div class="col-md-2 rowborder">Planning</div> 
    <div class="col-md-2 rowborder">What needs to be done?</div>    
    <div class="col-md-2 rowborder">Analyse, Improve</div>
</div> <!--row 3 -->
<div class="row">
  <div class="col-md-2 rowborder">Build</div>
  <div class="col-md-2 rowborder">Service Transition</div>
  <div class="col-md-2 rowborder">Execution</div>
  <div class="col-md-2 rowborder">How do we get there?</div> 
  <div class="col-md-2 rowborder">Improve, Control</div>     
</div> <!--row 4 -->
<div class="row">
  <div class="col-md-2 rowborder">Run</div>
  <div class="col-md-2 rowborder">Service Operation</div>
  <div class="col-md-2 rowborder">Execution and Close</div>
  <div class="col-md-2 rowborder">Did we get there?</div>  
  <div class="col-md-2 rowborder">Improve, Control</div>   
</div> <!--row 5 -->
<div class="row">
  <div class="col-md-2 rowborder">Govern</div>
  <div class="col-md-2 rowborder">Continuous Improvement</div>
  <div class="col-md-2 rowborder">Monitor and Control</div>
  <div class="col-md-2 rowborder">How do we keep the momentum going?</div>  
  <div class="col-md-2 rowborder">Control</div>   
</div> <!--row 6 -->
<hr />
<p>ITIL is very good at defining and running services but not as strong on project processes so using a project management framework like PMBOK fixes that issue nicely. Both are poor at
	IT governance. You need to extract the ITIL and PMBOK processes you need to govern out of the frameworks and integrate them into your process. COBIT is great at governance and IT processes in general but
	it is extremely complex and needs a lot of modification to work in small and medium business The Lean Six Sigma approach
	to business issues and requirements focuses more on analysis/problem solving and time management and is open ended 
	but the Define, Measure, Analyze, Improve, Control processes are very useful in the first 3 phases of ITIL. 
	lean six sigma provides less guidance on the implementation and handover processes so PMBOK should be used.</p>
	
	<h2>A High Level Integrated View of an IT Division</h2>
	<p>
		To successfully run an IT division, you must have a sound integrated approach to management.
	</p>

	<p>
		Using 3 main divisions of process and function <%= link_to "Service Management", page_path('opsmgt') %>,
		<%= link_to "Project Management ", page_path('projmgt') %> and
		<%= link_to "Business Management ", page_path('bizops') %>, an IT department can run quite successfully.
	</p>
	<%= image_tag("SM and proj 2b.png",:size => '450x320', alt: "IT Mgt"  )%>

	<p>
		 <%= link_to "Project Management ", page_path('projmgt') %>
		and  <%= link_to "Service Management ", page_path('opsmgt') %>
		are well defined and implementing a tailored process should be relatively simple given a positive
		focus by the business. IT Business Managment is not defined generally and hence can take many shapes. The COBIT standard is the cloest to
		a useful framwork but is extremely complex. 
		There is a new framework emerging called  the <%= link_to  'OBASHI', 'http://en.wikipedia.org/wiki/OBASHI'%> framework  
		- Ownership, Business process, Applications, System, Hardware, and Infrastructure (OBASHI). It provides a logical way for IT to map its current mode of operation and it fits into ITIL and COBIT.
		
		 The <%= link_to "Business Management ", page_path('bizops') %> page provides
		a functional view and will link these functions to Project and Service Management to give an overall integrated approach.
	</p>
</div>
	
<p></p>
<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('bizopsprocess'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Business Operations Processes', page_path('bizopsprocess')  %>
	</p>