<% content_for :title do %>Business Management Processes<% end %>

<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('bizopsprocess'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Business Operations Processes', page_path('bizopsprocess')  %>
	</p>

<h1><i class="glyphicon glyphicon-info-sign"></i>IT Business Management Processes</h1>
<p>
			<%= link_to image_tag("discoversymbol.png", :size => '50x50',alt: "Ops mgt"), page_path('bizops'),class: 'pull-left' %>  
			
</p>

	

	
<div class="padp">	
<p>
	Business Management revolves around 4 main processes
	 <strong> 
	 	<hr /><hr />
	 	<ul>
		<li>Planning</li>
		<li>Reviewing</li>
		<li>Reporting</li>
		<li>Risk Management</li>
	</ul></strong> </p>

<p>
	These activities are carried out over <strong> 7 business management areas</strong> that make up the Management Framework.
</p>
<div class="container">
<div class="opsmgt ">
	<div class="span">
		<table class="table table-condensed table-hover">
			<tbody>
				<tr>
					<td>Operational Finance Management (Opex)</td>
				</tr>
				<tr>
					<td>Capital Finance Management (Capex)</td>
				</tr>
				<tr>
					<td>Program Management</td>
				</tr>
				<tr>
					<td>Service Management</td>
				</tr>
				<tr>
					<td>People Management</td>
				</tr>
				<tr>
					<td>Strategy and Planning</td>
				</tr>
				<tr>
					<td>Partner Management</td>
				</tr>
			</tbody>
		</table>
		<!-- stripped table -->
	</div>
</div>
<%= image_tag("bizopsprocess1.png",:size => '450x320', alt: "IT Mgt" ) %>
</div> <!-- padp -->
</div> <!-- container -->
<p>
	The table below describes the activities that can typically run across the IT business areas in the 4 process categories.
</p>

<div class="row">
	<div class="col-md-2 ">
		<strong>Business Area</strong>
	</div>
	<div class="col-md-2 ">
		<strong>Process</strong>
	</div>
	<div class="col-md-3 ">
		<strong>Activity</strong>
	</div>
</div>
<!--row 1 -->
<div class="row">
	<div class="col-md-2 rowborder">
		Opex
	</div>
	<div class="col-md-2 rowborder">
		Plan
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Yearly/Quarterly Review
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4">
		<li>
			Target Setting and Distribution
		</li>
		<li>
			Productivity/Efficiency Planning
		</li>


	</div>
</div>
<!--row 2 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Report
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4  ">
		<li>
			Productivity/Efficiency Progress
		</li>
		
	</div>
</div>
<!--row  3-->

<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Review
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4 ">
		<li>
			Productivity/Efficiency Progress
		</li>

	</div>
</div>
<!--row 4 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Risk
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Off Opex Target Remediation
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4 ">
		<li>
			Off Efficiency Target Remediation
		</li>

	</div>
</div>
<!--row  5-->

<div class="row">
	<div class="col-md-2 rowborder">
		Capex
	</div>
	<div class="col-md-2 rowborder">
		Plan
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Yearly/Quarterly Review and Budget Setting
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4">
		<li>
			Target Setting
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4 ">
		<li>
			Productivity/Efficiency Planning
		</li>

	</div>
</div>
<!--row 6 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Report
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4  ">
		<li>
			Productivity/Efficiency Progress
		</li>
	</div>
</div>
<!--row  3-->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Review
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan
		</li>
		<li>
			Productivity/Efficiency Progress
		</li>
	</div>
</div>
<!--row 4 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Risk
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Off Capex Plan Remediation
		</li>
		<li>
			Off Efficiency Target Remediation
		</li>
	</div>
</div>
<!--row  5-->

<div class="row">
	<div class="col-md-2 rowborder">
		Program Management
	</div>
	<div class="col-md-2 rowborder">
		Plan
	</div>
	<div class="col-md-3 rowborder">
		<li>
			High Level Schedule Planning
		</li>
		<li>
			Business Goal Distribution
		</li>
		<li>
			Program Management Framework
		</li>
		<li>
			Business Stakeholder Management
		</li>
		<li>
			Audit Planning
		</li>
	</div>
</div>
<!--row 2 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Report
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan Summary
		</li>
		<li>
			Change Management Summary
		</li>
		<li>
			Audit Compliance
		</li>
	</div>
</div>
<!--row  3-->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Review
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan Summary
		</li>
	</div>
	<div class="col-md-3 col-md-offset-4 ">
		<li>
			Change Management
		</li>
		<li>
			Project Management Performance
		</li>
		<li>
			Audit Compliance
		</li>
	</div>
</div>
<!--row 4 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Risk
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Off Plan Remediation
		</li>
		<li>
			Business Change Management
		</li>
		<li>
			Overdue Audit Issues
		</li>
	</div>
</div>
<!--row  5-->

<div class="row">
	<div class="col-md-2 rowborder">
		Service Management
	</div>
	<div class="col-md-2 rowborder">
		Plan
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Business Goal Translation and Distribution
		</li>
		<li>
			Business Capacity Planning Distribution
		</li>
		<li>
			Stakeholder Management
		</li>
		<li>
			Service Level Re-evaluation
		</li>
		<li>
			Audit Planning
		</li>
	</div>
</div>
<!--row 2 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Report
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Service Attainment and Trend
		</li>
		<li>
			Customer Satisfaction
		</li>
		<li>
			Audit Compliance
		</li>
	</div>
</div>
<!--row  3-->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Review
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Service Attainment and Trend
		</li>
		<li>
			Customer Satisfaction
		</li>
		<li>
			Business Change Management
		</li>
		<li>
			Service Management Performance
		</li>
		<li>
			Audit Compliance
		</li>
	</div>
</div>
<!--row 4 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Risk
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Service Level Remediation
		</li>
				<li>
			Business Capacity Management Review
		</li>
		<li>
			Overdue Audit Issues
		</li>
	</div>
	</div>
</div>
<!--row  5-->

<div class="row">
	<div class="col-md-2 rowborder">
		People
	</div>
	<div class="col-md-2 rowborder">
		Plan
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Workload Trends
		</li>
		<li>
			Resource Levels, Placement and Utilisation
		</li>
		<li>
			Skill Set Requirements
		</li>
		<li>
			Values and Culture
		</li>
		<li>
			Leadership
		</li>
		<li>
			Business Goal Translation and Distribution
		</li>
		<li>
			Employee Engagement
		</li>
		<li>
			Human Resource Engagement
		</li>
	</div>
</div>
<!--row 2 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Report
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Resource Capacity and Utilisation
		</li>
		<li>
			Skill Sets and Competency
		</li>
		<li>
			Employee Engagement
		</li>
	</div>
</div>
<!--row  3-->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Review
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Resource Capacity and Utilisation
		</li>
		<li>
			Skill Sets and competency
		</li>
		<li>
			Employee Engagement
		</li>
		<li>
			HR Issues
		</li>
	</div>
</div>
<!--row 4 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Risk
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Off Employee Satisfaction Targets
		</li>
		<li>
			Off Utilisation Targets (over and under)
		</li>
		<li>
			Technology driven compentancy changes
		</li>
		<li>
			Leadership and Cultural Issues
		</li>
	</div>

</div>
<!--row  5-->

<div class="row">
	<div class="col-md-2 rowborder">
		Strategy
	</div>
	<div class="col-md-2 rowborder">
		Plan
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Technology Horizon Review
		</li>
		<li>
			Business Goal Translation
		</li>
		<li>
			Strategic Planning
		</li>
		<li>
			Portfolio Planning
		</li>
		<li>
			Stakeholder Management
		</li>
		<li>
			Process Re-engineering
		</li>
		<li>
			Communication Planning
		</li>
		<li>
			Workforce Planning
		</li>
		<li>
			Customer Engagement
		</li>
		<li>
			Audit Planning
		</li>
	</div>
</div>
<!--row 2 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Report
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Business Goal Progress and Attainment
		</li>
		<li>
			Roadmaps - Actual to Plan
		</li>
		<li>
			Technology Reviews
		</li>
		<li>
			Audit Compliance
		</li>
	</div>

</div>
<!--row  3-->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Review
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Business Goal Progress and Attainment
		</li>
		<li>
			Roadmaps - Actual to Plan
		</li>
		<li>
			Technology Trends
		</li>
		<li>
			Audit Compliance
		</li>
	</div>
</div>
<!--row 4 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Risk
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Off Target Business Goal Remediation
		</li>
		<li>
			Off Road Map Target Remediation
		</li>
		<li>
			Business Change Management
		</li>
		<li>
			Overdue Audit Issues
		</li>
	</div>
</div>
<!--row  5-->

<div class="row">
	<div class="col-md-2 rowborder">
		Partners
	</div>
	<div class="col-md-2 rowborder">
		Plan
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Technology Horizon Review
		</li>
		<li>
			Cost Review and Target Setting
		</li>
		<li>
			Productivity/Efficiency Planning
		</li>
		<li>
			Industry Trends
		</li>
		<li>
			Business Alignment Review
		</li>
		<li>
			Strategic Partnering Planning
		</li>
	</div>

</div>
<!--row 2 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Report
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan - Partnering Scorecard
		</li>
		<li>
			Service Attainment
		</li>
	</div>

</div>
<!--row  3-->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Review
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Actual to Plan - Partnering Scorecard
		</li>

		<li>
			Service Attainment
		</li>
		<li>
			Cost and Volumes
		</li>
	</div>
</div>
<!--row 4 -->
<div class="row">
	<div class="col-md-2 col-md-offset-2 rowborder">
		Risk
	</div>
	<div class="col-md-3 rowborder">
		<li>
			Off Target Cost and Volumes Remediation
		</li>
		<li>
			Off Target Service Level Remediation
		</li>
	</div>

</div>
<!--row  5-->

<hr />

<p>
	Next Step is to integrate these activities into a  <%= link_to ' Business Management Process', page_path('bizopsprocess')  %>
</p>

<%= link_to image_tag("pieces1.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgtprocess'),class: 'pull-left' %>
<div class=' container padp'>
	<p>
		Putting the pieces together.
	</p>
</div>
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<p></p>
