<% content_for :title do %>COBIT  Processes<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('Bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitprocesses'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Processes', page_path('cobitprocesses')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>COBIT  Processes</h1>



<p><h3>COBIT Processes</h3></p>	<p>
The COBIT 5 processes are split into governance and management. </p> 	
<%= link_to image_tag("cobitprocessdomains1.png",:size => '400x400', alt: "Cobit Processes"  ), 'http://www.isaca.org/Knowledge-Center/Blog/Lists/Posts/Post.aspx?ID=193' %>		
		
		
		<hr /><p>You see the familar Plan, Build Run and Monitor approach and the single Governance Domain called "Evaluate, Direct and Monitor"</p>

    <p><strong>Governance of Enterprise IT</strong></p>
        <p><li>Evaluate, Direct and Monitor (EDM) – 5 processes</li></p>
        
    <p><strong>Management of Enterprise IT</strong></p>
       <li> Align, Plan and Organise (APO) – 13 processes</li>
       <li> Build, Acquire and Implement (BAI) – 10 processes</li>
       <li> Deliver, Service and Support (DSS) – 6 processes</li>
       <li> Monitor, Evaluate and Assess (MEA) - 3 processes</li>


</p>
<p>Lets have a look at the details of the processes and with 37 processes and 200 plus sub processes, there is a lot of it. 
<%= link_to image_tag("cobit37processes1.png",:size => '600x600', alt: "Cobit Processes"  ), 'http://www.isaca.org/Knowledge-Center/Blog/Lists/Posts/Post.aspx?ID=193' %>
</p>
	<p class="center">
	<%= link_to 'Business Operations', page_path('Bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitprocesses'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Processes', page_path('cobitprocesses')  %>		
	</p>

