<% content_for :title do %>COBIT  Processes<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitassessment'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Assessment', page_path('cobitassessment')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>COBIT  Processes</h1>



<p><h3>COBIT Processes</h3></p>	

<p>Lets have a look at the 37 processes.</p>
<p>
The COBIT 5 processes are split into governance and management. </p> 	
<%= link_to image_tag("cobitprocessdomains1.png",:size => '400x400', alt: "Cobit Processes"  ), 'http://www.isaca.org/Knowledge-Center/Blog/Lists/Posts/Post.aspx?ID=193' %>		
		
		
		<hr /><p>You see the familar Plan, Build Run and Monitor approach and the single Governance Domain called "Evaluate, Direct and Monitor"</p>

    <p><strong>Governance of Enterprise IT</strong></p>
        <p><li>Evaluate, Direct and Monitor (EDM) – 5 processes</li></p>
        
    <p><strong>Management of Enterprise IT</strong></p>
       <li> Align, Plan and Organise (APO) – 13 processes</li>
       <li> Build, Acquire and Implement (BAI) – 10 processes</li>
       <li> Deliver, Service and Support (DSS) – 6 processes</li>
       <li> Monitor, Evaluate and Assess (MEA) - 3 processes</li>
</p>

<p>
<%= link_to image_tag("cobit37processes1.png",:size => '600x600', alt: "Cobit Processes"  ), 'http://www.isaca.org/Knowledge-Center/Blog/Lists/Posts/Post.aspx?ID=193' %>
</p>


<hr />
<p>If you are reviwing this information in order to improve your IT operations or governance, you will have to adapt the COBIT process standards to your business.</p>
<%= image_tag("processdiag1.png",:size => '200x200', alt: "Processes"  ) %><hr />
<p>Above is a simple view of a process. You can download a <%= link_to "process template ", pdf_path('Process template Example.pdf')  %> which you can use to adapt COBIT to your business needs.</P>
	
<p>Below is a long list of COBIT processes and the sub activities. You can download the list from <%= link_to "ISACA", 'http://www.isaca.org/about-isaca/Pages/default.aspx' %>
	who own the <%= link_to "COBIT 5  ",'www.isaca.org/COBIT/Pages/default.aspxISACA' %>framework as part of a  
	<%= link_to "tool kit",'http://sas-origin.onstreammedia.com/origin/isaca/COBIT/COBIT5-Tool-Kit.zip' %>.</p>	
	<p>You will find the process list, activities and tasks in a spreadsheet called <strong>"12.COBIT5-Governance-and-Management-Practices-Activities_April2014"</strong></p>
	<p>You can use the list as a <%= link_to 'checklist ', page_path('cobitchecklist')  %> and if you add the  <%= link_to 'capability and maturity model', page_path('cobitmaturity')  %> 
		into the review, you have a great first up IT <%= link_to 'assessment process', page_path('cobitassessment')  %>.</p>
	
	<p>You will need to get the appropriate <%= link_to "license",'http://www.isaca.org/About-ISACA/Licensing-and-Promotion/Pages/COBIT-Usage-Guidelines.aspx' %> in order to use COBIT in your enterprise
		or you may develop your own processes and checklist.</p>
	
	<hr />


<hr />

<% content_for :title do %>COBIT  Processes<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitassessment'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Assessment', page_path('cobitassessment')  %>		
	</p>



      <div>
<p class = " small pull-right">     COBIT 5© ISACA  ITIL© AXELOS</p>     
     
      </div>




