<% content_for :title do %>COBIT  Processes<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitassessment'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Assessment', page_path('cobitassessment')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>COBIT  Processes</h1>



<p><h3>COBIT Processes</h3></p>	

<p>Lets have a look at the 37 processes and 210 sub processes.</p>
<p>
The COBIT 5 processes are split into governance and management. </p> 	
<%= link_to image_tag("cobitprocessdomains1.png",:size => '400x400', alt: "Cobit Processes"  ), 'http://www.isaca.org/Knowledge-Center/Blog/Lists/Posts/Post.aspx?ID=193' %>		
		
		
		<hr /><p>You see the familar Plan, Build Run and Monitor approach and the single Governance Domain called "Evaluate, Direct and Monitor"</p>

    <p><strong>Governance of Enterprise IT</strong></p>
        <p><li>Evaluate, Direct and Monitor (EDM) – 5 processes</li></p>
        
    <p><strong>Management of Enterprise IT</strong></p>
       <li> Align, Plan and Organise (APO) – 13 processes</li>
       <li> Build, Acquire and Implement (BAI) – 10 processes</li>
       <li> Deliver, Service and Support (DSS) – 6 processes</li>
       <li> Monitor, Evaluate and Assess (MEA) - 3 processes</li>
</p>

<p>
<%= link_to image_tag("cobit37processes1.png",:size => '600x600', alt: "Cobit Processes"  ), 'http://www.isaca.org/Knowledge-Center/Blog/Lists/Posts/Post.aspx?ID=193' %>
</p>


<hr />
<p>If you are reviwing this information in order to improve your IT operations or governance, you will have to adapt the COBIT process standards to your business.</p>
<%= image_tag("processdiag1.png",:size => '200x200', alt: "Processes"  ) %><hr />
<p>Above is a simple view of a process. You can download a <%= link_to "process template ", pdf_path('Process template Example.pdf')  %> which you can use to adapt COBIT to your business needs.</P>
	
<p>Below is a long list of COBIT processes and the sub activities. You can download the list from <%= link_to "ISACA", 'http://www.isaca.org/about-isaca/Pages/default.aspx' %>
	who own the <%= link_to "COBIT 5  ",'www.isaca.org/COBIT/Pages/default.aspxISACA' %>framework as part of a  
	<%= link_to "tool kit",'http://sas-origin.onstreammedia.com/origin/isaca/COBIT/COBIT5-Tool-Kit.zip' %>.</p>	
	<p>You will find the process list, activities and tasks in a spreadsheet called <strong>"12.COBIT5-Governance-and-Management-Practices-Activities_April2014"</strong></p>
	<p>You can use the list as a <%= link_to 'checklist ', page_path('cobitchecklist')  %> and if you add the  <%= link_to 'capability and maturity model', page_path('cobitmaturity')  %> into the review, you have a great first up IT <%= link_to 'assessment process', page_path('cobitassessment')  %>.</p>
	
	
	
	<hr />

<h3>Evaluate, Direct and Monitor (EDM)	</h3>
	
<div class="row">
	<div class="col-md-3 ">
		<strong>Process</strong>
	</div>
	<div class="col-md-3  center ">
		<strong>Activity</strong>
	</div>

</div>
<!--row 1 -->
<div class="row">
	<div class="col-md-3 rowborder">
		EDM01 Ensure Governance Framework Setting and Maintenance
	</div>
	<div class="col-md-6 rowborder">
		
			<li>EDM01.01 Evaluate the governance system.</li>	
			<li>EDM01.02 Direct the governance system.</li>	
			<li>EDM01.03 Monitor the governance system.	</li>			
	</div>
</div>
<!--row 2 -->
<div class="row">
	<div class="col-md-3 rowborder">
		EDM02 Ensure Benefits Delivery	
	</div>
	<div class="col-md-6 rowborder">
		<li> EDM02.01 Evaluate value optimisation. </li>	
		<li> EDM02.02 Direct value optimisation.	</li>
		<li> EDM02.03 Monitor value optimisation. </li>		
			
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">
			
EDM03 Ensure Risk Optimisation	
	</div>
	<div class="col-md-6 rowborder">
		<li> EDM03.01 Evaluate risk management. </li>	
		<li> EDM03.02 Direct risk management.	</li>
		<li> EDM03.03 Monitor risk management.	 </li>
			
			
	</div>
</div>
<!--row 4 -->


	
<div class="row">
	<div class="col-md-3 rowborder">			
EDM04 Ensure Resource Optimisation	
	</div>
	<div class="col-md-6 rowborder">
		<li> EDM04.01 Evaluate resource management.</li>	
		<li>EDM04.02 Direct resource management. 	</li>
		<li>EDM04.03 Monitor resource management. 	 </li>			
						
	</div>
</div>
<div class="row">
	<div class="col-md-3 rowborder">			
EDM05 Ensure Stakeholder Transparency
	</div>
	<div class="col-md-6 rowborder">
		<li>EDM05.01 Evaluate stakeholder reporting requirements. </li>	
		<li>EDM05.02 Direct stakeholder communication and reporting. 	</li>
		<li> EDM05.03 Monitor stakeholder communication.	 </li>									
	</div>
</div>
<!--row 3 -->

<h3>Align, Plan and Organise (APO)</h3>
<div class="row">
	<div class="col-md-3 ">
		<strong>Process</strong>
	</div>
	<div class="col-md-3  center">
		<strong>Activity</strong>
	</div>

</div>
<!--row 1 -->
<div class="row">
	<div class="col-md-3 rowborder">			
APO01 Manage the IT Management Framework	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO01.01 Define the organisational structure.</li>	
		<li>APO01.02 Establish roles and responsibilities. 	</li>
		<li>APO01.03 Maintain the enablers of the management system. 	 </li>			
		<li> APO01.04 Communicate management objectives and direction.	 </li>
		<li> APO01.05 Optimise the placement of the IT function.		 </li>
		<li> APO01.06 Define information (data) and system ownership.	 </li>
		<li> APO01.07 Manage continual improvement of processes.	 </li>
		<li> APO01.08 Maintain compliance with policies and procedures.	
	 </li>							
	</div>
</div>
<!--row 3 -->	
	
<div class="row">
	<div class="col-md-3 rowborder">			
APO02 Manage Strategy		
	</div>
	<div class="col-md-6 rowborder">
		<li>APO02.01 Understand enterprise direction. </li>	
		<li> APO02.02 Assess the current environment, capabilities and performance.	</li>
		<li> APO02.03 Define the target IT capabilities.	 </li>			
		<li> APO02.04 Conduct a gap analysis.	 </li>
		<li> APO02.05 Define the strategic plan and road map.	 </li>
		<li> APO02.06 Communicate the IT strategy and direction.	 </li>	
					
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
APO03 Manage Enterprise Architecture	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO03.01 Develop the enterprise architecture vision.</li>	
		<li>APO03.02 Define reference architecture. 	</li>
		<li> APO03.03 Select opportunities and solutions.	 </li>			
		<li> APO03.04 Define architecture implementation.	 </li>
		<li>APO03.05 Provide enterprise architecture services. 	 </li>
						
	</div>
</div>
<!--row 3 -->
	
<div class="row">
	<div class="col-md-3 rowborder">			
APO04 Manage Innovation		
	</div>
	<div class="col-md-6 rowborder">
		<li>APO04.01 Create an environment conducive to innovation.	 </li>	
		<li> APO04.02 Maintain an understanding of the enterprise environment. </li>
		<li>APO04.03 Monitor and scan the technology environment. 	 </li>			
		<li> APO04.04 Assess the potential of emerging technologies and innovation ideas.	 </li>
		<li> APO04.05 Recommend appropriate further initiatives.	 </li>
		<li> APO04.06 Monitor the implementation and use of innovation.	 </li>
						
	</div>
</div>
<!--row 3 -->	

	
<div class="row">
	<div class="col-md-3 rowborder">			
APO05 Manage Portfolio		
	</div>
	<div class="col-md-6 rowborder">
		<li> APO05.01 Establish the target investment mix.</li>	
		<li> APO05.02 Determine the availability and sources of funds.</li>
		<li> APO05.03 Evaluate and select programmes to fund.</li>			
		<li> APO05.04 Monitor, optimise and report on investment portfolio performance.	 </li>
		<li> APO05.05 Maintain portfolios.		 </li>
		<li> APO05.06 Manage benefits achievement.	 </li>
	
	</div>
</div>
<!--row 3 -->
		
<div class="row">
	<div class="col-md-3 rowborder">			
APO06 Manage Budget and Costs	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO06.01 Manage finance and accounting.</li>	
		<li> APO06.02 Prioritise resource allocation.</li>
		<li>APO06.03 Create and maintain budgets. </li>			
		<li> APO06.04 Model and allocate costs.	 </li>
		<li> APO06.05 Manage costs.		 </li>
		
	</div>
</div>
<!--row 3 -->
	
<div class="row">
	<div class="col-md-3 rowborder">			
APO07 Manage Human Resources	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO07.01 Maintain adequate and appropriate staffing.</li>	
		<li> APO07.02 Identify key IT personnel.	</li>
		<li> APO07.03 Maintain the skills and competencies of personnel.</li>			
		<li> 	APO07.04 Evaluate employee job performance.	 </li>
		<li>APO07.05 Plan and track the usage of IT and business human resources. 	 </li>
		<li>APO07.06 Manage contract staff.		 </li>				
	</div>
</div>
<!--row 3 -->



<div class="row">
	<div class="col-md-3 rowborder">			
APO08 Manage Relationships	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO08.01 Understand business expectations.</li>	
		<li> APO08.02 Identify opportunities, risk and constraints for IT to enhance the business.</li>
		<li> APO08.03 Manage the business relationship.</li>			
		<li> APO08.04 Co-ordinate and communicate.		 </li>
		<li> APO08.05 Provide input to the continual improvement of services.	 </li>
		
	</div>
</div>
<!--row 3 -->	
<div class="row">
	<div class="col-md-3 rowborder">			
APO09 Manage Service Agreements	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO09.01 Identify IT services.</li>	
		<li> APO09.02 Catalogue IT-enabled services.</li>
		<li>APO09.03 Define and prepare service agreements.	 </li>			
		<li> 	APO09.04 Monitor and report service levels.	 </li>
		<li> APO09.05 Review service agreements and contracts		 </li>
			
	</div>
</div>
<!--row 3 -->		


<div class="row">
	<div class="col-md-3 rowborder">			
APO10 Manage Suppliers		
	</div>
	<div class="col-md-6 rowborder">
		<li> APO10 Manage Suppliers</li>	
		<li>APO10.01 Identify and evaluate supplier relationships and contracts. </li>
		<li> APO10.02 Select suppliers.</li>			
		<li> APO10.03 Manage supplier relationships and contracts.	 </li>
		<li> APO10.04 Manage supplier risk.	 </li>
		<li> APO10.05 Monitor supplier performance and compliance	 </li>
		
	</div>
</div>
<!--row 3 -->		

<div class="row">
	<div class="col-md-3 rowborder">			
APO11 Manage Quality	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO11.01 Establish a quality management system (QMS).</li>	
		<li> APO11.02 Define and manage quality standards, practices and procedures.</li>
		<li> APO11.03 Focus quality management on customers.	</li>			
		<li> APO11.04 Perform quality monitoring, control and reviews.	 </li>
		<li> APO11.05 Integrate quality management into solutions for development and service delivery.	 </li>
		<li> APO11.06 Maintain continuous improvement.		 </li>
			
	</div>
</div>
<!--row 3 -->	
<div class="row">
	<div class="col-md-3 rowborder">			
APO12 Manage Risk	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO12.01 Collect data.</li>	
		<li> APO12.02 Analyse risk.</li>
		<li> APO12.03 Maintain a risk profile.</li>			
		<li> APO12.04 Articulate risk.	 </li>
		<li> APO12.05 Define a risk management action portfolio.		 </li>
		<li> APO12.06 Respond to risk.	 </li>
				
	</div>
</div>
<!--row 3 -->

<div class="row">
	<div class="col-md-3 rowborder">			
APO13 Manage Security	
	</div>
	<div class="col-md-6 rowborder">
		<li> APO13.01 Establish and maintain an information security management system (ISMS).</li>	
		<li> APO13.02 Define and manage an information security risk treatment plan.	</li>
		<li> APO13.03 Monitor and review the ISMS.</li>			
		
	</div>
</div>
<!--row 3 -->
	
<h3>Build, Acquire and Implement (BAI)</h3>	
<div class="row">
	<div class="col-md-3 ">
		<strong>Process</strong>
	</div>
	<div class="col-md-3  center">
		<strong>Activity</strong>
	</div>

</div>

<div class="row">
	<div class="col-md-3 rowborder">			
BAI01 Manage Programmes and Projects		
	</div>
	<div class="col-md-6 rowborder">
		<li>BAI01.01 Maintain a standard approach for programme and project management. </li>	
		<li>BAI01.02 Initiate a programme.	 </li>
		<li> BAI01.03 Manage stakeholder engagement.</li>			
		<li> BAI01.04 Develop and maintain the programme plan.	 </li>
		<li> BAI01.05 Launch and execute the programme.	 </li>
		<li>BAI01.06 Monitor, control and report on the programme outcomes.	 </li>
		<li>BAI01.07 Start up and initiate projects within a programme.	 </li>
		<li>BAI01.08 Plan projects.		 </li>
		<li>BAI01.09 Manage programme and project quality.	 </li>
		<li>BAI01.10 Manage programme and project risk.		 </li>
		<li>BAI01.11 Monitor and control projects.	 </li>
		<li>BAI01.12 Manage project resources and work packages.	 </li>
		<li>BAI01.13 Close a project or iteration.		 </li>
		<li>BAI01.14 Close a programme.	 </li>
						
	</div>
</div>
<!--row 3 -->	

<div class="row">
	<div class="col-md-3 rowborder">			
BAI02 Manage Requirements Definition
	</div>
	<div class="col-md-6 rowborder">
		<li> BAI02.01 Define and maintain business functional and technical requirements.</li>	
		<li> BAI02.02 Perform a feasibility study and formulate alternative solutions.</li>
		<li> BAI02.03 Manage requirements risk.	</li>			
		<li> BAI02.04 Obtain approval of requirements and solutions. </li>
			
	</div>
</div>
<!--row 3 -->



<div class="row">
	<div class="col-md-3 rowborder">			
BAI03 Manage Solutions Identification and Build			
	</div>
	<div class="col-md-6 rowborder">
		<li> BAI03.01 Design high-level solutions.</li>	
		<li> BAI03.02 Design detailed solution components.</li>
		<li> BAI03.03 Develop solution components.</li>			
		<li> BAI03.04 Procure solution components.	 </li>
		<li> BAI03.05 Build solutions.	 </li>
		<li>BAI03.07 Prepare for solution testing.	 </li>
		<li>BAI03.08 Execute solution testing.		 </li>
		<li>BAI03.09 Manage changes to requirements.	 </li>
		<li>BAI03.10 Maintain solutions.	 </li>
		<li>BAI03.11 Define IT services and maintain the service portfolio.	 </li>
						
	</div>
</div>
<!--row 3 -->

<div class="row">
	<div class="col-md-3 rowborder">			
BAI04 Manage Availability and Capacity		
	</div>
	<div class="col-md-6 rowborder">
		<li>BAI04.01 Assess current availability, performance and capacity and create a baseline. </li>	
		<li> BAI04.02 Assess business impact.</li>
		<li>BAI04.03 Plan for new or changed service requirements. </li>			
		<li> BAI04.04 Monitor and review availability and capacity.	 </li>
		<li> BAI04.05 Investigate and address availability, performance and capacity issues.	 </li>
		
	</div>
</div>
<!--row 3 -->		

<div class="row">
	<div class="col-md-3 rowborder">			
BAI05 Manage Organisational Change Enablement	
	</div>
	<div class="col-md-6 rowborder">
		<li> BAI05.01 Establish the desire to change. </li>	
		<li> BAI05.02 Form an effective implementation team.	</li>
		<li> BAI05.03 Communicate desired vision.</li>			
		<li> BAI05.04 Empower role players and identify short-term wins.		 </li>
		<li> BAI05.05 Enable operation and use.	 </li>
		<li> BAI05.06 Embed new approaches.	 </li>
		<li> BAI05.07 Sustain changes.	 </li>

						
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
BAI06 Manage Changes		
	</div>
	<div class="col-md-6 rowborder">
<li> BAI06.01 Evaluate, prioritise and authorise change requests.</li>	
<li> BAI06.02 Manage emergency changes.	</li>
<li> BAI06.03 Track and report change status.	</li>
<li> BAI06.04 Close and document the changes.</li>					
	</div>
</div>
<!--row 3 -->
	
<div class="row">
	<div class="col-md-3 rowborder">			
BAI07 Manage Change Acceptance and Transitioning	
	</div>
	<div class="col-md-6 rowborder">
<li>BAI07.01 Establish an implementation plan.	</li>
<li>BAI07.02 Plan business process, system and data conversion	</li>
<li>BAI07.03 Plan acceptance tests	</li>
<li>BAI07.04 Establish a test environment.	</li>
<li>BAI07.05 Perform acceptance tests.	</li>
<li>BAI07.06 Promote to production and manage releases.	</li>
<li>BAI07.07 Provide early production support.	</li>
<li>BAI07.08 Perform a post-implementation review.	</li>
						
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
BAI08 Manage Knowledge		
	</div>
	<div class="col-md-6 rowborder">
		<li>BAI08.01 Nurture and facilitate a knowledge-sharing culture.</li>	
<li>BAI08.02 Identify and classify sources of information.</li>	
<li>BAI08.03 Organise and contextualise information into knowledge.	</li>
<li>BAI08.04 Use and share knowledge.</li>	
<li>BAI08.05 Evaluate and retire information.</li>
						
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
BAI09 Manage Assets			
	</div>
	<div class="col-md-6 rowborder">
<li>BAI09.01 Identify and record current assets.	</li>
<li>BAI09.02 Manage critical assets.</li>	
<li>BAI09.03 Manage the asset life cycle.</li>	
<li>BAI09.04 Optimise asset costs.</li>	
<li>BAI09.05 Manage licences.</li>
						
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
BAI10 Manage Configuration		
	</div>
	<div class="col-md-6 rowborder">
<li>BAI10.01 Establish and maintain a configuration model.</li>	
<li>BAI10.02 Establish and maintain a configuration repository and baseline.	</li>
<li>BAI10.03 Maintain and control configuration items.	</li>
<li>BAI10.04 Produce status and configuration reports.	</li>
<li>BAI10.05 Verify and review integrity of the configuration repository.</li>
						
	</div>
</div>
<!--row 3 -->


<h3>Deliver, Service and Support (DSS)</h3>
<div class="row">
	<div class="col-md-3 ">
		<strong>Process</strong>
	</div>
	<div class="col-md-3 center ">
		<strong>Activity</strong>
	</div>

</div>
<div class="row">
	<div class="col-md-3 rowborder">			
DSS01  Manage Operations		
	</div>
	<div class="col-md-6 rowborder">
<li>DSS01.01 Perform operational procedures.</li>	
<li>DSS01.02 Manage outsourced IT services.	</li>
<li>DSS01.03 Monitor IT infrastructure.	</li>
<li>DSS01.04 Manage the environment.</li>	
<li>DSS01.05 Manage facilities.	</li>
	</div>
</div>
<!--row 3 -->

</div>
<div class="row">
	<div class="col-md-3 rowborder">			
DSS02 Manage Service Requests and Incidents			
	</div>
	<div class="col-md-6 rowborder">
<li>DSS02.01 Define incident and service request classification schemes.	</li>
<li>DSS02.02 Record, classify and prioritise requests and incidents.	</li>
<li>DSS02.03 Verify, approve and fulfil service requests.	</li>
<li>DSS02.04 Investigate, diagnose and allocate incidents.	</li>
<li>DSS02.05 Resolve and recover from incidents.	</li>
<li>DSS02.06 Close service requests and incidents.	</li>
<li>DSS02.07 Track status and produce reports.	</li>
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
DSS03 Manage Problems		
	</div>
	<div class="col-md-6 rowborder">
<li>DSS03.01 Identify and classify problems.</li>
<li>DSS03.02 Investigate and diagnose problems.	</li>
<li>DSS03.03 Raise known errors.	</li>
<li>DSS03.04 Resolve and close problems.	</li>
<li>DSS03.05 Perform proactive problem management.	</li>
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
DSS04 Manage Continuity	
	
	</div>
	<div class="col-md-6 rowborder">
<li>DSS04.01 Define the business continuity policy, objectives and scope.	</li>
<li>DSS04.02 Maintain a continuity strategy.	</li>
<li>DSS04.03 Develop and implement a business continuity response.</li>	
<li>DSS04.04 Exercise, test and review the BCP.	</li>
<li>DSS04.05 Review, maintain and improve the continuity plan.	</li>
<li>DSS04.06 Conduct continuity plan training.	</li>
<li>DSS04.07 Manage backup arrangements.	</li>
<li>DSS04.08 Conduct post-resumption review.	</li>

	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
DSS05 Manage Security Services			
	</div>
	<div class="col-md-6 rowborder">
<li>DSS05.01 Protect against malware.	</li>
<li>DSS05.02 Manage network and connectivity security.	</li>
<li>DSS05.03 Manage endpoint security.	</li>
<li>DSS05.04 Manage user identity and logical access.</li>
<li>DSS05.05 Manage physical access to IT assets.	</li>
<li>DSS05.06 Manage sensitive documents and output devices.	</li>
<li>DSS05.07 Monitor the infrastructure for security-related events.</li>
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
DSS06 Manage Business Process Controls		
	</div>
	<div class="col-md-6 rowborder">
<li>DSS06.01 Align control activities embedded in business processes with enterprise objectives.	</li>
<li>DSS06.02 Control the processing of information.	</li>
<li>DSS06.03 Manage roles, responsibilities, access privileges and levels of authority.	</li>
<li>DSS06.04 Manage errors and exceptions.	</li>
<li>DSS06.05 Ensure traceability of Information events and accountabilities.	</li>
<li>DSS06.06 Secure information assets.	</li>
	</div>
</div>
<!--row 3 -->
<h3>Monitor, Evaluate and Assess (MEA)</h3>
<div class="row">
	<div class="col-md-3 ">
		<strong>Process</strong>
	</div>
	<div class="col-md-3 center">
		<strong>Activity</strong>
	</div>

</div>
<div class="row">
	<div class="col-md-3 rowborder">			
MEA01 Monitor, Evaluate and Assess Performance and Conformance			
	</div>
	<div class="col-md-6 rowborder">

<li>MEA01.01 Establish a monitoring approach.	</li>
<li>MEA01.02 Set performance and conformance targets.	</li>
<li>MEA01.03 Collect and process performance and conformance data	</li>
<li>MEA01.04 Analyse and report performance.	</li>
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
MEA02 Monitor, Evaluate and Assess the System of Internal Control		
	</div>
	<div class="col-md-6 rowborder">
<li>MEA02.01 Monitor internal controls.	</li>
<li>MEA02.02 Review business process controls effectiveness.	</li>
<li>MEA02.03 Perform control self-assessments.	</li>
<li>MEA02.04 Identify and report control deficiencies.	</li>
<li>MEA02.05 Ensure that assurance providers are independent and qualified.	</li>
<li>MEA02.06 Plan assurance initiatives.	</li>
<li>MEA02.07 Scope assurance initiatives.	</li>
<li>MEA02.08 Execute assurance initiatives.	</li>
	</div>
</div>
<!--row 3 -->
<div class="row">
	<div class="col-md-3 rowborder">			
MEA03 Monitor, Evaluate and Assess Compliance with External Requirements			
	</div>
	<div class="col-md-6 rowborder">
<li>MEA03.01 Identify external compliance requirements</li>	
<li>MEA03.02 Optimise response to external requirements.</li>	
<li>MEA03.03 Confirm external compliance.	</li>
<li>MEA03.04 Obtain assurance of external compliance.	</li>
	</div>
</div>
<!--row 3 -->


<hr />

<% content_for :title do %>COBIT  Processes<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitassessment'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Assessment', page_path('cobitassessment')  %>		
	</p>







