<% content_for :title do %>Business  Goals<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitprocesses'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Processes', page_path('cobitprocesses')  %>		
	</p>
<h1><i class="glyphicon glyphicon-star-empty"></i>Business  Goals</h1>


	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 


<div class = "container">
	<div class = "padp">
		
		
		
<p> <%= link_to 'Management by Objectives', 'http://en.wikipedia.org/wiki/Management_by_objectives' %> was first discussed by Peter Drucker in 1954 (yes 50 years ago) and since then objectives or goals have
	been used to steer businesses. In the 1990's we used the <strong>Balanced Scorcard</strong> management framework to cascade goals and now ITIL and COBIT do the same. COBIT
	provides guidance on how to use the balanced scorecard with their framework in the freely available kit.
	</p>

<p>Using the   <%= link_to ' Balanced Scorecard', 'http://www.ap-institute.com/Balanced%20Scorecard.html' %>    approach, you divide your goals in 4 categories
	<hr /><hr />
	<ul>
		<li>Financial</li>
		<li>Customer</li>
		<li>Internal Process</li>
		<li>Learning and Growth</li>
	</ul>
	
	Working from the enterprise drivers to produce Enterprise Goals and then cascading these goals to the lines of business and down to the teams, you end up with real measurable actions
	that will align the workers to the enterprise direction.
	</p>
	</div>
</div>
			<%= image_tag("goalsetting2.png",:size => '600x600', alt: "Service Management"  ) %> 
			<hr />
		<p>A summary of the process is depicted above. While you will cascade your goals on a yearly basis and only sometimes update them for special projects, you should plan to measure
			progress towards yours and the teams goals regularly. Regual employee engagement is extremely important in this process.</p>	

<div>
<p>Goals need to be SMART.</p>

<h1 class = " pull-left">S<small>pecific</small> </h1><hr />
<h1 class = " pull-left">M<small>easureable</small></h1><hr />
<h1 class = " pull-left">A<small>ttainable</small></h1><hr />
<h1 class = " pull-left">R<small>ealistic</small></h1><hr />
<h1 class = " pull-left">T<small>imely</small></h1>




<p class = " pull-left">You will find a great deal of guidance on the web on how to make sure you set smart goals and how to cascade these goals to the team. As a manager,
	this is your opportunity to get your employee's on board with the companies program. Do not rush through this step and do not focus on just the easily measureable goals.
	This is your best chance to achieve the cultural changes that maybe required to improve service levels. You will not find these types of softer goals in the generic sets on the web.</p>
	<p class = " pull-left">An example is where you may decide to ask the team to each share in the production of the monthly department magazine/blog. You are aiming to improve morale. You
		normally do not find "improve morale" on the business goals but you always find "improve costs"	and it is well know that a happy team are more efficient and effective.
		</p>
		<p class = " pull-left">I have seen companies that put their employees well being on the radar as part of their goals.</p>
			

<p class = " pull-left">COBIT provides guidance using a generic set of business goals which you can access when you join ISACA. Beleow is an example of how to start your goal setting tasks using the 
	balanced scorecard categories.</p>

	<%= image_tag("genericgoals1.png",:size => '400x400', alt: "Service Management", class: "pull-left" ) %> 
<hr />
<p class = " pull-left">They are useful as a check list as you gather your business goals from your executive and stakeholder.You can use it as a prompt during your discussions.</p>			

</div>
