<% content_for :title do %>COBIT  Checklist<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitprocesses'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Processes', page_path('cobitprocesses')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>COBIT  Checklist</h1>


<p> The COBIT 5 <%= link_to "tool kit",'http://sas-origin.onstreammedia.com/origin/isaca/COBIT/COBIT5-Tool-Kit.zip' %> contains a high level and useful management assessment
	spreadsheet called 	<strong>13.Management-Awareness-Diagnostic</strong>. It also has a comprehensive process,activity and task list called 
	<strong>12.COBIT5-Governance-and-Management-Practices-Activities_April2014</strong>. The spreasheets names may change but they have been items 12 and 13 in the kit for a while.
	</p>
<p>You may use the Management Awareness spreadsheet to derive a high level understanding of your companies IT governance capability but if you are looking at change, there
	is a good chance you will have to go to the next level of detail anyway. With a little effort you could get a level lower in detail and not have to run another round of 
	reviews/interviews/workshops/analysis by adding a <%= link_to 'capability and maturity', page_path('cobitmaturity')  %> 
	assessment to the process list and using it as a checklist in high level IT capability assessment.</p>
	
	<p>The checklist is a vital part in a <strong>As Is - To Be</strong> change program also called <strong>Current Mode of Operation to Future Mode of Operation Transformation</strong></p>

<%= image_tag("asistobeoverview1.png",:size => '400x400', alt: "Processes"  ) %><hr />
<p>The checklist will help you define the IT services and start the gap analysis by identifying sub optimal processes and in some cases, non existent processes.</p>
	<p>You will need to get the appropriate <%= link_to "license",'http://www.isaca.org/About-ISACA/Licensing-and-Promotion/Pages/COBIT-Usage-Guidelines.aspx' %> in order to use COBIT in your enterprise
		or you may develop your own processes and checklist.</p>
		

      <div>
<p class = " small pull-right">     COBIT 5© ISACA  ITIL© AXELOS</p>       
      </div>

