<% content_for :title do %>Openproject Configuration<% end %>
<h1><i class="glyphicon glyphicon-check"></i>OpenProject Configuration Guide</h1>
<div class='container'> </div>
<%= link_to image_tag("projmgt4.png",:size => '250x120', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	

		<p> The following documents an approach to configuring OpenProject for basic use in small and medium business. 
			It shows how to get the base install ready for use as a projet management server and also as a daily operational management server
			if you want to expand its operation. </p> 
			
		<p> I will assume that we are going to run to small projects that are related. We will define a simple waterfall set of 
			plans for each and we will track hours as a well as tasks during the run phases of the projects and store the main project documents.
			The project will run in the context of IT operations and is not viewed as a standalone piece of work. 
			Below shows this simple approach to project management.
			</p>
        							 		
		<hr /><%= link_to image_tag("openproject/opprocess1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %> 
		

<h2>Configuration </h2>

<h3> Configuring the Plugins </h3>

			<ul>
				<li>Using a web browser, open the project server on your local host or go the servers IP address if you are using Amazon or some other service provider</li> 
				<li>Login as admin pwd admin</li>
				<li>Open the Administration Module</li> 
				<li>Go to the plugin page at the bottom of the menu.</li>							
			</ul>




<h5>Configure the Help link	</h5>
<p> Accept the default. We will not be using this module.</p>
<h5>Configure the Costs Plugin</h5>
<p>Accept the default. We will not be using this module.</p>
<h5>Configure the backlog Plugin</h5>
<p>You access the configuration screen as below</p>
<%= link_to image_tag("openproject/plugin1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %> 

<p>Use the shift button to select the group of project types that can be used in the initial story process. 
	Use none, bug, feature and support and “phase” as the task type. Do not enter a sprint wiki template name.</p>
	
<%= link_to image_tag("openproject/backlog1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>


<p>Press “apply” to save the choice you have made.</p>

<h5>Updating Roles and Permissions</h5>

<p>Add all the roles used in your department that are important. The roles should cover the spectrum of IT services
	and project management as well as key business roles.
	</p>
	<p>A suggested set of roles to choose from</p>
			<ul>
				<li>IT Roles</li>
				<ul>
					<li>IT Manager</li>
					<li>Project Manager</li>
					<li>PMO</li>
					<li>System Administrator</li>
					<li>DBA</li>
					<li>Network</li>
					<li>Help Desk</li>
					<li>Application Administrator</li>
					<li>Tester</li>
					<li>Developer</li>
					<li>Consultant</li>
					<li>Vendor</li>
					<li>Business Analyst</li>
					<li>Service Manager</li>
				</ul>
				<li>Business Roles</li>
				<ul>
					<li>HR</li>
					<li>Payroll</li>
					<li>Operation Manager</li>
					<li>Sales Manager</li>	
					<li>Business SME</li>
					<li>Business Manager</li>
					<li>Service Manager</li>
					<li>Finance</li>
				</ul>				
			</ul>	
	<p>
	You would add roles as best fits your company, the aim is the be able to break down the work to better identify workload
	and possible opportunities for improvement. If the roles are too high level, then no insight is gained, too low level and the 
	employees spend too much time recording effort which will have an effectt on efficiency and possibly morale.
	 Roles are not the employees, 
	so there is not a one to one relationship, e.g. you may have an sme role and 3 people in that role. 
	Typically in a small company many people will be multi-tasking, so some employees will cover a couple of roles in IT. 
	</p>
<%= link_to image_tag("openproject/roles1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>


<h5> Adding a New Role</h5>

<p>Once you have a list of roles you want to use in your projects, click the "newuser" on the right</p>

<%= link_to image_tag("openproject/roles2.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>

<p>
I am going to copy another roles workflow as I add the roles
It is important that you set up workflow as this will have a large effect on how OpenProject works. 
For example, you may have a testing role. You may not allow the tester to create new tasks but you may 
allow them to change task from “in progress” to “feedback” or “rejected”. It will depend on the project framework 
you have setup in your company. You will also have to set up the permissions for all the new plugins for all 
the current default roles as well in this page.</p>

<%= link_to image_tag("openproject/roles3.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>



<h5>Workflow</h5>
<p>
You do not have to change the default workflows. When you set up the new roles you copied current workflows. 
If you look at the developer workflow (press edit after you have selected the developer). 
You can see they have limited workflow, but it allows them to make comments and log their effort to the tasks that are assigned to them.
</p>

<%= link_to image_tag("openproject/workflow1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>
<p>Whereas the manager can control all the work packages and their status.</p>
<%= link_to image_tag("openproject/workflow2.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>

<h5>Project Types</h5>
<p>
No Change to “Bug, “Feature”, “Support”, “Milestone” and “Phase”. 
If you decide to change these, then you will also have to reconfigure the roles and workflows, which is a large task, so not recommended.
</p>
<%= link_to image_tag("openproject/types1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>
<h5>Work Package Status</h5>
<p>
No Change to the defaults. If you change these, then you will have to revisit your 
Roles and Permissions and your workflow to enable the new status to function inside the application.
</p>
<%= link_to image_tag("openproject/workpackage1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>

<h5>Custom Fields</h5>
<p>Custom fields are not required for a simple implementation. If you integrate into your companies systems, 
	then you can use custom fields to match data, automate some reporting etc as well as track items that the business is specifically interested in.
</p>

<%= link_to image_tag("openproject/customfields1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>

<h5>Enumerations</h5>

<p> You will need to add time tracking categories and documentation categories in your initial setup. 
	Reported project status is not requried for simple projects and the work packages categories are ok</p>
	
	<p>A suggested set of time categories to measure</p>
			<ul>
				<li>IT Roles</li>
				<ul>
					<li>Reporting</li>
					<li>Planning</li>
					<li>Managing</li>
					<li>Training</li>
					<li>Development</li>
					<li>Installation</li>
					<li>Administration</li>
					<li>Change Management</li>
					<li>Documenting</li>
					<li>Testing</li>
					<li>Communication</li>
					<li>Designing</li>
					<li>Incident Management</li>
					<li>Request Management</li>
					<li>Vendor Management</li>
				</ul>
				<li>Business Roles</li>
				<ul>
					<li>SME - requirements</li>
					<li>SME - Testing</li>
					<li>IT Review</li>
					<li>Analysis</li>
					<li>Contract Management</li>

				</ul>				
			</ul>	
<%= link_to image_tag("openproject/enumerations.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>	

<p>It is also a good practice to maintain a project library. You can even leverage this for your whole IT department. The 
	following is a set of suggested document categories</p>
<ul>
	<li>Design</li>
	<li>Process</li>
	<li>Reports</li>
	<li>Finance</li>
	<li>Workshop</li>
	<li>Vendor</li>
	<li>Change</li>
	<li>Organisation</li>
	<li>Communication</li>
	<li>Requirements</li>
</ul>

<h5>OpenProject Settings</h5>
<p>OpenProject has 10 general settings tabs that need review. Select the "Settings" option in the left menu</p>

<%= link_to image_tag("openproject/settings1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>
<p>As you can see you have the option to update the general settings, Display, Authentication, Users, Projects, 
	Work Package Tracking, Email Notification, Incoming Emails and Repositories.</p>

<h5>Updating the General settings	</h5>

<p>You do not have to change any of the defaults. You did add a small greeting to my Welcome text and put in the real ip 
	address of the server (you would use a server name if your admins have set up the DNS or hosts file). </p>
	
	
<h5>Updating Display</h5>
<p> Allow the use of icons to brighten up your site </p>
<%= link_to image_tag("openproject/displaysettings1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>
<p>Do not forget to press save after you have made changes in a screen.</p>
	
<h5>Updating Authentication</h5>	
<p>Keep the defaults</p>	
<%= link_to image_tag("openproject/authenticationsettings.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %>
	
<h5>Updating User General Settings</h5>	
<p>Keep the defaults</p>	
<%= link_to image_tag("openproject/usersettings1.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>

<h5>Updating Project Settings</h5>	
<p>Update the plugins and add roles that can create projects for example allow the PMO to create new projects</p>	
<%= link_to image_tag("openproject/projectsettings1.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>

<h5>Work Package Tracking Settings</h5>	
<p>TThis is where you add fields to your work package tracking screens. It is to see % done and remaining hours, so tick those options
	and make “Remaining Hours” summable  (tick the second column). You will also the see the custom fields here if you added any.</p>	
<%= link_to image_tag("openproject/workpackagetracking.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>


<h5>Email Notification Settings</h5>	
<p>Keep the defaults</p>	
<%= link_to image_tag("openproject/emailnotifications.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>

<h5>Incoming Email Settings</h5>	
<p>Keep the defaults</p>	
<%= link_to image_tag("openproject/incomingemailsettings.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>


<h5>Repository Settings</h5>	
<p>To keep things simple, you can skip setting up the repositories and use your current practices, but you can see that integration
	at sometime would be a good option. It will streamline development and maintain quality.</p>
	<p> Select the options the "enable time logging" and pick a default activity for logged time at the bottom of the screen</p>	
<%= link_to image_tag("openproject/repositorysettings.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>

<h5>LDAP Auhentication Settings</h5>	
<p>To keep the configuration simple, keep the defaults for now unless you are confident that you can integrate into your local activity directory easily.</p>	
<%= link_to image_tag("openproject/ldapsettings.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>


<h5>Colour Settings</h5>	
<p>Keep the defaults</p>	
<%= link_to image_tag("openproject/coloursettings.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>
<p>
If you click on a colour you can edit its name and the colour. You might like to set up a new pastel set.
You will have to know the hex code for the colour. There are plenty of web pages which can provide this information for you if you have the RGB numbers.</p>
<%= link_to image_tag("openproject/coloursettings2.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>


<h5>Project Type Settings</h5>	
<p>This is where the standard project types are defined. You may define as little or as many as you need, 
	but generally more than 10 types would not provide any further management insight </p>
	<%= link_to image_tag("openproject/projecttypes1.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>
	<p> Suggested Project types are</p>
	<ul>
		<li>IT Centric</li>
		<ul>
			<li>Infrastructure Upgrade</li>
			<li>Software Development</li>
			<li>Transformation</li>
			<li>Application Upgrade</li>
			<li>Desktop Upgrade</li>
		</ul>
		<li>Business Centric</li>
		<ul>
			<li>Product Development</li>
			<li>Product Roll Out</li>
			<li>Marketing Campaign</li>
			<li>Line Upgrade</li>
		</ul>
	</ul>
<p>When you add new project types, you will also be able to add any new reporting plugin status. This guide recommended that you
	do not add any new reporting status in the first run of the application, but if you did, you should add them to your project types</p>		
<%= link_to image_tag("openproject/projecttypes2.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>


<h5>Export Card Configuration</h5>	
<p>The export card option is a plugin that allows you to export the backlog tasks. This allows you to run workshops using the 
	current set of stories. It works using a configurable template written in a markup language called YAML.
	We will modify the suggested example from the authors by adding the subject to the card in the first row.
	<%= link_to 'web site',' https://github.com/finnlabs/openproject-pdf_export' %></p>	
<%= link_to image_tag("openproject/exportconfig1.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>
<p>Select "New Export Card Config" and paste the YAML code below into the page. Give your configuration a name and set number per page to 1.</p>
	
<pre>
group1:
  has_border: false
  height: 200
  rows:
group1:
  has_border: false
  height: 200
  rows:
    row1:
      height: 50
      priority: 1
      columns:
        id:
          has_label: false
          min_font_size: 10
          max_font_size: 20
          font_size: 20
          font_style: bold
          text_align: left
          minimum_lines: 2
          render_if_empty: false
          width: 10%
        subject:
          has_label: false
          font_size: 15
          font_style: italic
          minimum_lines: 2
          render_if_empty: false
          width: 50%
        due_date:
          has_label: false
          font_size: 15
          font_style: italic
          minimum_lines: 2
          render_if_empty: false
          width: 40%
    row2:
      priority: 2
      columns:
        status:
          has_label: true
          indented: true
          font_size: 15
          font_style: normal
          minimum_lines: 1
          render_if_empty: true
group2:
  has_border: true
  rows:
    row1:
      height: 80
      priority: 2
      columns:
        description:
          has_label: true
          indented: false
          font_size: 15
          font_style: normal
          minimum_lines: 1
          render_if_empty: true
    row2:
      priority: 2
      columns:
        status:
          has_label: true
          font_size: 15
          font_style: normal
          minimum_lines: 1
          render_if_empty: true
    row2:
      priority: 2
      columns:
        custom_field_name:
          has_label: true
          font_size: 15
          minimum_lines: 1
group3:
  rows:
    row1:
      priority: 2
      columns:
        children:
          has_label: true
          has_count: true
          indented: true
          font_size: 15
          font_style: normal
          minimum_lines: 1
          render_if_empty: true
</pre>



<p>It will look like this</p>	
<%= link_to image_tag("openproject/exportconfig2.png",:size => '450x500', alt: "user settings"  ), class: 'centre' %>		
	
<hr />
<p>You are now ready to add the team and create your projects. 
      	<%= link_to 'Click here', page_path('openprojectsetup'),class: 'btn btn-large btn-primary'   %> to start that process  </p>
      	
      </div> <!-- container -->
