<% content_for :title do %>Service Management<% end %> <h1><i class="glyphicon glyphicon-refresh"></i>Service Management</h1>

<%= link_to image_tag("knowledgebase2.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %>
<div class="padp">

	<blockquote>
		<p>
			Service Management:
			A set of specialized organizational capabilities for providing
			value to customers in the form of services
		</p>
	</blockquote>
	
<p>	Itil version 3 introduces a more complete set of functions that integrates into the whole of IT 	
<%= link_to image_tag("itiloverview1.png",:size => '650x750', alt: "Service Management"  ), page_path('opsmgt') %></p>	
	
	
	<h4>How do you move to a Service Management Culture and Process?</h4>
	<p>
		The CEO wants to see a change to a service based culture in IT but without any or little additional cost. How do you achieve this ?
		The last time you looked at the 	<%= link_to  'ITIL', 'http://www.itil-officialsite.com/'%> based Service Management Process, it was over 500 pages of change.
		
		
	</p>
	<p>
		You can use a simple 3 pronged approach focusing on <strong>People, Process and Tools</strong>  and work your way through a maturing process to achieve your goal.

	</p>

</div>
<!-- padp -->

<div class="opsmgt">
	<div class="span3">
		<table class="table table-condensed table-hover">
			<caption>
				<h3>Approach</h3>
			</caption>
			<thead>
				<tr>
					<th><h3>Focus</h3></th>
					<th><h3>Change</h3></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>People</td>
					<td>Education in and roll out of Service Management</td>
				</tr>
				<tr>
					<td>Tools</td>
					<td>Use of an ITIL compliant tool set</td>
				</tr>
				<tr>
					<td>Process</td>
					<td>A new process wrapped around the tool used by a trained team </td>
				</tr>
			</tbody>

		</table>
		<!-- stripped table -->
	</div>
</div>
<p>
	The change is to move the team to a service based culture through training, leadership and advocacy,
	implement an ITIL compliant management tool and wrap a process around the tool that supports ITIL
	to gain the first level of benefits of good service management espoused by ITIL aficionados.
</p>

<p>
	You will see

	<ul>
		<li>
			improved efficiency through metrics reviews.
		</li>
		<li>
			improved customer satisfaction through better expectation setting and transparency.
		</li>
				<li>
			improved cost.
		</li>
				<li>
			improved use of skills.
		</li>
				<li>
			improved service delivery from third parties.
		</li>
	</ul>
</p>
<hr />
<p>
	And, when the team is ready, you can move up the maturity ladder to gain further benifits as per the
	<%= link_to  'Capability Maturity Model Integration levels.', 'http://en.wikipedia.org/wiki/Capability_Maturity_Model_Integration#Maturity_levels_in_CMMI_for_services'%>
</p>

<div class="opsmgt">
	<div class="span3">
		<table class="table table-striped table-condensed table-hover">
			<caption>
				<h3>Changes you are Targeting</h3>
			</caption>

			<thead>
				<tr>
					<th><h3>Moving From</h3></th>
					<th><i class="glyphicon glyphicon-arrow-right"></i></th>
					<th><h3>Moving To</h3></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Users</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Customers</td>
				</tr>
				<tr>
					<td>Inward Looking</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Outward Looking</td>
				</tr>
				<tr>
					<td>Technology Focus</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Process Focus</td>
				</tr>
				<tr>
					<td>Ad Hoc Processes</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Rationalized, Streamlined Processes</td>
				</tr>
				<tr>
					<td>Best Efforts</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Measured, Accountable Processes</td>
				</tr>
				<tr>
					<td>Entirely In-House</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Balanced In/Outsourcing</td>
				</tr>
				<tr>
					<td>Fragmented, Silos</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Integrated, End-to-End</td>
				</tr>
				<tr>
					<td>Reactive</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Proactive</td>
				</tr>
				<tr>
					<td>Operations Manager</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>Service Management</td>
				</tr>

				<tr>
					<td>System Skills</td>
					<td><i class="glyphicon glyphicon-arrow-right"></i></td>
					<td>“Listening” Skills </td>
				</tr>
			</tbody>

		</table>
		<!-- stripped table -->
	</div>
</div>
<div class="small text-left">
	The HP IT Service Management Reference Model white paper
</div>

<h2> <%= link_to 'Implementing Service Management', page_path('Serviceimplementation') %> </h2>

<p>Below is an example of a generic high level Service Management Implementation Plan. It is very high level and does not contain the interdependancies. I.e. you need to define and 
	document the services and processes before you can complete the configuration of the tool and train the teams. You will most likely use a staged approach focusing on the major services first.</p>

<p>	It will run like any other project and you are encouraged to follow standard project management processes.
	Follow the link <%= link_to 'link', page_path('Serviceimplementation') %> to find out the next level of detail. 

<%= link_to image_tag("SeviceImp1.png",:size => '450x600', alt: "Service Management"  ), page_path('Serviceimplementation'),class: 'pull-left' %>

</p>	
	
<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
<p class="center">
	<%= link_to '', page_path('Serviceimplementation'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Service Implementation', page_path('Serviceimplementation')  %>		
	</p>
<hr>
<hr>
<div class="small text-left">
ITIL® is a registered trademark of the UK Office of Government Commerce.
</div>
<hr>
<p>
	Subscribe to our monthly newsletter
</p>

<div class="control-group">
	<label class="control-label" for="inputIcon">Email address</label>
	<div class="controls">
		<div class="input-prepend">
			<span class="add-on"><i class="glyphicon glyphicon-envelope"></i></span>
			<input class="span2" id="inputIcon" type="text">
		</div>
	</div>
</div>
<hr>
