<% content_for :title do %>Project Management Initiation<% end %>
	<p class="center">
	<%= link_to 'Project Management', page_path('projmgt')  %>
	<%= link_to '', page_path('projmgt'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtplanning'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Planning', page_path('projmgtplanning')  %>
	</p>
<h1><i class="glyphicon glyphicon-check"></i>Project and Program Management - Initiation</h1>
<p>
<%= link_to image_tag("basediscover4atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
		<p> Project initiation is  where you develop key documents and processes. This can also be call the <strong>discovery</strong> phase to link it to
			our common  <%= link_to ' IT management structure', page_path('bizopsprocess')  %>. This activity is a continuation of the orgainisations strategic planning process,
			where oragnisational goals are defined. We should acknowledge here that the organisation has already done a lot of work prior to starting this project
			and we are just moving to the next phase in the continuing change driven by organisations. We should already be able to see strategic business plans, prioritisation of the plans
			and goals and a good description of what the organisation wants to achieve with this project. </p>
			<p>
			In this phase, you produce a Project Management Plan which contains information like a high level scope, project charter, how the project will run. 
			what the company wants to achieve and how this is measured. Essentially what success looks like, aligned to the strategic plan. 
			You produce a high level estimate of cost, resources and duration as well as a strawman plan, team structure, a communication plan
			(including all stakeholders), a high level risk assessment and quality plan. You may also need to consider 3rd party vendors in your plan.
			</p>  
        							 		
		<hr />
		<hr />
		<hr />
		<hr />
		<div class='center'> 
		<h3>Outputs from the Discovery Phase</h3>		</div>
			<ul>
				<li>Project Management Plan</li>
				<li>Scope document describing the business outcomes and measures of success</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>A high level plan</li>
				<li>High level cost, resource and duration estimates</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Communication plan including an organisation chart (who will be responsible for what at a high level)</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>An initial risk assessment</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Any other considerations documented like vendor involvement, contact issues.</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>A Quality Plan</li>
			</ul>

		<hr />
		<p>There are many tool sets available to manage your project from a simple desktop application to a distributed enterprise tool set. 

			
			Below lists a few examples of  Management Software. </p>
	
		<ul>
			<li><%= link_to 'Microsoft Project', 'http://office.microsoft.com/en-au/project/'  %>: Most well know Desktop Project Management Software</li>
			<li><%= link_to 'ProjectLibre', 'http://www.projectlibre.org/'  %>: Open source MS Project clone</li>			
			<li><%= link_to 'Primavera', 'https://www.oracle.com/applications/primavera/index.html'  %>: Oracle's Enterprise Project Management Software</li>			
			<li><%= link_to 'Project and Portfolio Management', 'http://www8.hp.com/au/en/software-solutions/project-portfolio-management-it-portfolio-management/'  %>: 
				Hp's Enterprise Project Management Software</li>
			<li><%= link_to 'OpenProject','http://office.microsoft.com/en-au/project/'  %>: Open source Project Server Application</li>						
		</ul>
	
<p>If you follow this 			<%= link_to 'link', page_path('openprojectimplementation')  %> 
	I have described a project implementation in an application called  <%= link_to 'OpenProject', 'openproject.org'  %>, which is opensource
			and hence available for you to practice with.</p>	
    		<hr />

<p class="center">
	<%= link_to 'Project Overview', page_path('projmgt')  %>
	<%= link_to '', page_path('projmgt'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>		
	</p>
				
		
<hr />			

<p>  Subscribe to our monthly newsletter</p>




	    <div class="control-group">
		    <label class="control-label" for="inputIcon">Email address</label>
		    <div class="controls">
			    <div class="input-prepend">
			    	<span class="add-on"><i class="glyphicon glyphicon-envelope"></i></span> 
				    <input class="span2" id="inputIcon" type="text">
		    	</div>
		    </div>
	    </div>
	<hr>    
    <a class="btn btn-large btn-primary" href="#"><i class="glyphicon glyphicon-star"></i> Subscribe</a>