<% content_for :title do %>Project Management Execution<% end %>
	<p class="center">
	<%= link_to 'Project Planning', page_path('projmgtplanning')  %>
	<%= link_to '', page_path('projmgtplanning'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtclosedown'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Closedown', page_path('projmgtclosedown')  %>
	</p>

<h1><i class="glyphicon glyphicon-check"></i>Project and Program Management - Execution</h1>
<p>
<%= link_to image_tag("build5atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> Project execution is  where you will develop key documents and processes. We are going call this the <strong>build</strong> phase to link it to
			our common  <%= link_to ' IT management structure', page_path('bizopsintegration')  %> </p>  
        							 		
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
	
	<p class="center">
	<%= link_to 'Project Planning', page_path('projmgtplanning')  %>
	<%= link_to '', page_path('projmgtplanning'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtclosedown'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Closedown', page_path('projmgtclosedown')  %>
	</p>
