<% content_for :title do %>Project Management Planning<% end %>
	<p class="center">
	<%= link_to 'Project Initiation', page_path('projmgtinitiation')  %>
	<%= link_to '', page_path('projmgtinitiation'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	</p>


<h1><i class="glyphicon glyphicon-check"></i>Project Management - Planning</h1>
<p>
<%= link_to image_tag("plan5atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> Project planning is  where you will develop key documents and processes. We are going call this the <strong>planning</strong> phase to link it to
			our common  <%= link_to ' IT management structure', page_path('bizopsintegration')  %> </p>  
        							 		
		<hr />
		
		<p>This phase will produce a lot of documentation. We have not followed the PMBOK processes strictly as we have already worked on the 
				<ul>
				<li>Scope document describing the business outcomes and measures of success</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Project plan</li>
				<li>High level cost, resource and duration estimates</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Communication plan including an organisation chart </li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>A risk assessment</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>A Quality Plan</li>
			</ul>
			
	We have brought some of the planning forward as it was necessary to complete a business case for the project and this information is needed to produce a good
	business case. However this planning was high level and we now need to complete the detailed plans.</p>
	<p>The outputs for this stage will be
				<ul>
				<li>Project Management Plan</li>
				<li>Scope document describing the business outcomes and measures of success</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Project Schedule</li>
				<li>Finance Plan</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Communication Plan</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>A Risk Plan</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>A Quality Plan</li>
				<li>A Resources Plan</li>
				<li>A Stakeholder Management Plan</li>
				<li>A Procurement Plan</li>
			</ul>			
	</p>		
	<p>This is a lot of plans.</p>
	<p>You should be able to procure a set of templates if your organisation does not already have a set of standard project management templates. 
		There are many  <%= link_to 'free templates', 'http://www.projectmanagementdocs.com/'  %> as well that you could modify for your needs.</p>
	<p>Creating your own maybe a good exercise but you will need a spare week or two to complete the exercise.</p>	
			
			
		
		
		
			<p class="center">
	<%= link_to 'Project Initiation', page_path('projmgtinitiation')  %>
	<%= link_to '', page_path('projmgtinitiation'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	</p>
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
			<p class="center">
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-left"  %>

	</p>
