<% content_for :title do %>Project Management Planning<% end %>
	<p class="center">
	<%= link_to 'Project Initiation', page_path('projmgtinitiation')  %>
	<%= link_to '', page_path('projmgtinitiation'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	</p>


<h1><i class="glyphicon glyphicon-check"></i>Project and Program Management - Planning</h1>
<p>
<%= link_to image_tag("plan5atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> Project planning is  where you will develop key documents and processes. We are going call this the <strong>planning</strong> phase to link it to
			our common  <%= link_to ' IT management structure', page_path('bizopsintegration')  %> </p>  
        							 		
		<hr />
			<p class="center">
	<%= link_to 'Project Initiation', page_path('projmgtinitiation')  %>
	<%= link_to '', page_path('projmgtinitiation'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	</p>
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
			<p class="center">
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-left"  %>

	</p>
