<% content_for :title do %>Project Management Close Down<% end %>
	<p class="center">
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtm&c'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Monitor and Control', page_path('projmgtm&c')  %>
	</p>
<h1><i class="glyphicon glyphicon-check"></i>Project Management - Close Down</h1>
<p>
<%= link_to image_tag("run2atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> Project Close Down is  where you will run a lesson's learnt, wrap up any financial reporting, turn out the lights. Your product is operational and hence in the
			<strong>run</strong> phase. Project Close down is the final step in a transition to production.
			and hence part of the common  <%= link_to ' IT management structure', page_path('bizopsintegration')  %> </p>  
        							 		
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
	


	<p class="center">
	<%= link_to 'Project Execution', page_path('projmgtexecution')  %>
	<%= link_to '', page_path('projmgtexecution'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtm&c'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Monitor and Control', page_path('projmgtm&c')  %>
	</p>


