<% content_for :title do %>Project Management Execution<% end %>
	<p class="center">
	<%= link_to 'Project Planning', page_path('projmgtplanning')  %>
	<%= link_to '', page_path('projmgtplanning'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtclosedown'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Closedown', page_path('projmgtclosedown')  %>
	</p>

<h1><i class="glyphicon glyphicon-check"></i>Project Management - Execution</h1>
<p>
<%= link_to image_tag("build5atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> Project execution is where your project will deliver the expected results. The teams you create, the tools you have put in place, the processes you have designed will
			all be used to execute this project. While the project is in execution mode, the company is in Plan and Build mode. 
			 We are going call this the <strong>build</strong> phase to link it to our common  <%= link_to ' IT management structure', page_path('bizopsintegration')  %></p>
		<p>You will use most of the control and monitor processes in this phase as well as the specific execution processes. The Control and Monitor Process group has been
			separated from the other phases as it runs across all the phases, but it is during the execution phase that it is used the most.</p>
			
		<p>You will work across all 10 knowledge areas using all the plans you hae put inplan in the planning phase.</p>
		
		<p>We have spent some time on the processes and skills (people) but it is here that the tools you have chosen will be vital to your success. You need a good 
			schedule management and reporting tool. If you buy a tool, it will most likely also offer the other tools you need like bug management, issue management, risk management, 
			finance management, Communications Management, test management or integrate these tools. You can also get these tools in the 
			<%= link_to 'cloud', 'http://www.practicalecommerce.com/articles/4141-12-Project-Management-and-Collaboration-Tools'  %>.
			</p>
			
			<%= image_tag("cloud2.png",:size => '300x300', alt: "Project Mgt"  ) %>
					
        <p>You may pay for a service or you may use an <%= link_to 'opensource', 'http://opensource.com/business/14/1/top-project-management-tools-2014'  %> tool like Redmine or  <%= link_to 'Openproject', page_path('openprojectimplementation')  %> </p>							 		
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
	
	<p class="center">
	<%= link_to 'Project Planning', page_path('projmgtplanning')  %>
	<%= link_to '', page_path('projmgtplanning'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('projmgtclosedown'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Project Closedown', page_path('projmgtclosedown')  %>
	</p>
