<% content_for :title do %>Project Management<% end %>
<h1><i class="glyphicon glyphicon-check"></i>Project and Program Management</h1>
<p>
<%= link_to image_tag("projmgt4.png",:size => '250x120', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> This page will provide a simple framework for running projects and programs in small to medium business using a taylored 
			<%= link_to "PMI", 'http://pmi.org' %>
        			process running in an opensource application called <%= link_to "OpenProject", 'http://openproject.org' %>. It will introduce a common venacular
        			to all the integration of project mangagement into the daily operation cycles that run in a small to medium sized IT shop. </p>  
        							 		
		<hr />
        <p>IT Project management is a well docuumented process. It is so well documented, the major challenge is to 
        			decide what you will use from the available information and what you will not. There a 4 phases in the 
        			PMI process with a 5th process to control the project. within each of these process groups there are many processes.</p>
        <hr />
        <hr />
        <hr />
        <ul class="nav navbar">
			<li><%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %></li>
			<li><%= link_to 'Planning', page_path('projmgtplanning'),class: 'center' %></li>
			<li><%= link_to 'Execution', page_path('projmgtexecution'),class: 'center' %></li>
			<li><%= link_to 'Close Down', page_path('projmgtclosedown'),class: 'center' %></li>
			</ul>
			<p> The 5th process is the Controlling and Monitoring Process which decribes how to run the 4 phases of a project.</p>
<%= link_to image_tag("pmpoverview1.png",:size => '450x320', alt: "Project Mgt"  ), page_path('pmi.org')%>			
			
			
    		<hr />
    		<hr />
    		<p> The templates are in the OpenProject app....todo, create wiki templates that can be imported...
    			create q&A so info can be gathered</p>
    		<hr />
    		
    		
    		<hr />
<%= link_to image_tag("cogs2 glossy background4 cube.png",:size => '50x50', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %> 
<h4> OpenProject</h4>
    		<hr />
    		<hr />
    		<hr />
    		<hr />



7 Essential Project Planning Documents in Open Project
    		<hr />
In my previous post, I offered five steps to assist in planning the project-planning phase. One of those steps involved preparing planning documents.
    		<hr />
To foster a successful planning phase, here are seven planning documents I believe most project managers will find indispensable. This list certainly might vary depending on the project setup, project size, complexity and organizational planning guidelines.
    		<hr />
1. Project management plan -- This is used as a reference index, encompassing all planning and project documents.
    		<hr />
2. High-level project schedule plan -- This document captures high-level project phases and key milestones. It is the document most project stakeholders will see or want to see.
    		<hr />
3. Project team planning -- This document provides a "who-is-doing-what" view of the project. This document fosters efficient project execution and effective project communication.
    		<hr />
4. Scope plan -- The scope plan documents the project requirements, the agreed scope and the Requirements Traceability Matrix (RTM) summary.
    		<hr />
5. Detailed project work plan -- This keeps track of the activities, work packages, resources, durations, costs, milestones, project's critical path, etc. It will be an essential document and work guideline for your core project team.
    		<hr />
6. Quality assurance planning -- This document tracks the quality standards your project deliverables will have to align to. These may typically include product testing approach and tools, quality policies, quality checklists, deviations definitions, quality metrics, product defect severity grades, acceptance criteria, cost of poor quality, etc.
    		<hr />
7. Risk planning -- This document contains the project risks and the related mitigation plans; as well as the project opportunities and the related exploiting plans. The importance of this document is one of the most underestimated in project planning. Be prepared to have a contingency plan in case something goes wrong or to take advantage of opportunities when they arise.
    		<hr />
Start with this checklist when you sit down to plan for your next project-planning phase. Depending on your project's needs, fine tune the checklist and tailor it by adding and removing planning assets, determining the planning time frame, the underlying details and rigor.
    		<hr />
Revisit this planning exercise, learn from it and enhance it, to continuously improve your project planning skills.
    		<hr />




    The ten knowledge areas are:

<hr />     Project Integration Management : Project Integration Management includes the processes and activities needed to identify, define, combine, unify, and coordinate the various processes and project management activities within the Project Management Process Groups.
<hr />    Project Scope Management : Project Scope Management includes the processes required to ensure that the project includes all the work required, and only the work required, to complete the project successfully.
<hr />     Project Time Management : Project Time Management includes the processes required to manage the timely completion of the project.
<hr />     Project Cost Management : Project Cost Management includes the processes involved in planning, estimating, budgeting, financing, funding, managing, and controlling costs so that the project can be completed within the approved budget.
<hr />     Project Quality Management : Project Quality Management includes the processes and activities of the performing organization that determine quality policies, objectives, and responsibilities so that the project will satisfy the needs for which it was undertaken.
<hr />     Project Human Resource Management : Project Human Resource Management includes the processes that organize, manage, and lead the project team.
<hr />     Project Communications Management : Project Communications Management includes the processes that are required to ensure timely and appropriate planning, collection, creation, distribution, storage, retrieval, management, control, monitoring, and the ultimate disposition of project information.
<hr />     Project Risk Management : Project Risk Management includes the processes of conducting risk management planning, identification, analysis, response planning, and controlling risk on a project.
<hr />     Project Procurement Management : Project Procurement Management includes the processes necessary to purchase or acquire products, services, or results needed from outside the project team
<hr />     Project Stakeholders Management : Project Stakeholder Management includes the processes required to identify all people or organizations impacted by the project, analyzing stakeholder expectations and impact on the project, and developing appropriate management strategies for effectively engaging stakeholders in project decisions and execution.







<p>  Subscibe to our monthly newsletter</p>


	    <div class="control-group">
		    <label class="control-label" for="inputIcon">Email address</label>
		    <div class="controls">
			    <div class="input-prepend">
			    	<span class="add-on"><i class="glyphicon glyphicon-envelope"></i></span>
				    <input class="span2" id="inputIcon" type="text">
		    	</div>
		    </div>
	    </div>
	<hr>    
   