<% content_for :title do %>Project Management Monitor and Control<% end %>
	<p class="center">
		<%= link_to 'Project Closedown', page_path('projmgtclosedown')  %>
	<%= link_to '', page_path('projmgtclosedown'), class:"glyphicon glyphicon-chevron-left"  %>
	</p>
<h1><i class="glyphicon glyphicon-check"></i>Project Management - Monitor and Control</h1>

       	
	<div class="padp">
		<p> Monitor and Control are the engine room processes of project management, this is how you get successfully from A to Z and can also be called the 
			<strong>Govern</strong> phase 
			and hence part of the common  <%= link_to ' IT management structure', page_path('bizopsintegration')  %> </p>  
        <p>There are 11 separate processes and they are essentially lined up to 9 of the 10 knowledge areas. You govern each of these areas.</p>	
        


<div class = "padp center">

<!--row 1 -->
<div class="row">
	<div class="col-md-2 rowborder">
		Project Integration Management
	</div>
</div>
<div class="row">
	<div class="col-md-2 rowborder">
		Project Scope Management
	</div>
</div>

<div class="row">
	<div class="col-md-2 rowborder">
		Project Time Management
	</div>
</div>
<div class="row">
	<div class="col-md-2 rowborder">
		Project Cost Management
	</div>
</div>
<div class="row">
	<div class="col-md-2 rowborder">
		Project Quality Management
	</div>
</div>

<div class="row">
	<div class="col-md-2 rowborder">
		Project Communications Management
	</div>
</div>
<div class="row">
	<div class="col-md-2 rowborder">
		Project Risk Management
	</div>
</div>
<div class="row">
	<div class="col-md-2 rowborder">
		Project Procurement Management
	</div>
</div>
<div class="row">
	<div class="col-md-2 rowborder">
		Project Stakeholders Management
	</div>
</div>

</div>
		<hr />
		<hr />
<p>The essence of governance is <strong>Plan, Do, Check, Act</strong></p>

<%= link_to image_tag("plandocheckact1.png",:size => '200x200', alt: "Project Mgt"  ), page_path('bizops') %> 


						 		
		<hr />
		<hr />

	

	<p class="center">
		<%= link_to 'Project Closedown', page_path('projmgtclosedown')  %>
	<%= link_to '', page_path('projmgtclosedown'), class:"glyphicon glyphicon-chevron-left"  %>
	</p>
