<% content_for :title do %>Project Management Initiation<% end %>
<h1><i class="glyphicon glyphicon-check"></i>Project and Program Management - Initiation</h1>
<p>
<%= link_to image_tag("basediscover4atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> Project initiation is  where you will develop key documents and processes. We are going call this the <strong>discovery</strong> phase to link it to
			our common  <%= link_to ' IT management structure', page_path('opsmgt')  %>. This activity is a continuation of the orgainisations strategic plan,
			where oragnisation goals are defined. We should achknowledge here that the organisation has already done a lot of work prior to starting this project
			and we are just moving to the next phase in the continuing change that organisations drive. We should already be able to see strategi business plans, prioitisation of the plans
			and goals and a good description of what the organisation wants to achieve with this project.
			In this pahse, you produce a high level plan which includes a scope document, 
			what the company wants to acheive and how this is measured (what sucess looks like) aligned to the stratgic plan. 
			You produce a high esitmate of cost, resourses and duration as well as a strawman for the team, a comunication plan
			(including all stakeholders) and a high level risk assessment. You may also need to consider any 3rd party vendors in your plan.
			</p>  
        							 		
		<hr />
		<hr />
		<hr />
		<hr />
		<div class='center'> 
		<h3>Outputs from the Discovery Phase</h3>
			<ul>
				<li>Scope Document describing the business outcomes and measures of success</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>High level cost, resource and duration estimates</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Communication plan inculding an organisation chart (who will be responsible for what at a high level)</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>An initial risk assessment</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
				<li>Any other considerations like vendor involvement, contact issues.</li> <!-- template to come <%= link_to 'Initiation', page_path('projmgtinitiation'),class: 'center' %>-->
			</ul>
		</div>
		<hr />
		<hr />		<h3>A Practical Implementaion in OpenProjet</h3>
		<p> The following will take you through a step by step approach to setting up a project in the application OpenProject</p>
		<p> If you are new to OpenProject, there is a more  <%= link_to 'basic guide', page_path('openprojectsetup')  %>to getting started with OpenProject which you may want to review first</p>
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
	

<%= link_to image_tag("logosquare2.png",:size => '100x100', alt: "Logo"  ), root_path, class: 'pull-left' %> 
<p>  Subscibe to our monthly newsletter</p>


	    <div class="control-group">
		    <label class="control-label" for="inputIcon">Email address</label>
		    <div class="controls">
			    <div class="input-prepend">
			    	<span class="add-on"><i class="glyphicon glyphicon-envelope"></i></span>
				    <input class="span2" id="inputIcon" type="text">
		    	</div>
		    </div>
	    </div>
	<hr>    
    <a class="btn btn-large btn-primary" href="#"><i class="glyphicon glyphicon-star"></i> Subscribe</a>