<% content_for :title do %>Service Management Build<% end %>
	<p class="center">
	<%= link_to 'Service Planning', page_path('serviceplanning')  %>
	<%= link_to '', page_path('serviceplanning'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('servicerun'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Service Run', page_path('servicerun')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Implementation - Build Phase</h1>

	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 


<div class = "container">
	<div class = "padp">
		<p>During this phase you will design the services that will meet the business requirements documented in the previous discovery phase and 
			approved in the business case. ITIL presents Design in the following categories </p>
		<hr />
		<%= 	image_tag("servicedesign1.png",:size => '200x200', alt: "Service Management"  ) %>
		<hr />
		</div>
			<p>As you move through this phase, you will be completing a 
			<%= link_to "Service Design Package", pdf_path('Service Design Package Draft Example.pdf')  %>. It is an extension of the Service Catalogue you have been creating.
			It includes the other fuctional areas that to be considered when remediating or defining a service. You now need to look at items such as Backup and Recovery, Business Continuity Planning, Security
			Vendors, Availability, Service Levels. Some of this you will have done, but you now need to complete the work to cover off all the gaps identified in the business case.</p>
			
		<p>You may find other issues with services that are currently not in the business case. E.g you find a backup and recovery process does not meet a current SLA.
			You should not just include this issue in the project, rather, you need to follow good project management and log the issue and ask for a scope change from the business who will then agree (or not) to
			fund the work.</p>
			
		<p>At the end of this step you will have a Service Design Package that lists all the services and how they meet the customers requirements or a set of tasks to get to the required level.
			E.g. If a Backup Cycle does not meet Requirements, the entry will have a task to "Reconfigure Backs to new schedule" and the schedule listed. It may also have a capacity management task to 
			confirm that the system will manage the new cycles and can restore in the appropriate timeframes. For larger items such as Installing a new monitoring
			system or capacity management server or a new tape backup system, you would produce a separate design document and refer to it in the Service Package document.</p>
			
			
			<ul>
				<li>Define the services that will meet the business requirements</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				
				
				
				
			</ul>
			
			
	Service Design Package Draft Example		
			
			

		
		
	
</div>