<% content_for :title do %>Service Management Implementation<% end %>
	<p class="center">
	<%= link_to 'Service Review', page_path('Serviceimplementation')  %>
	<%= link_to '', page_path('Serviceimplementation'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('servicebuild'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Service Build', page_path('servicebuild')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Implementation - Planning Phase</h1>

	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 


<div class = "container">
	<div class = "padp">
		<p>During this phase you will design the services that will meet the business requirements documented in the previous discovery phase and 
			approved in the business case. At this point you should start to adhere to your companies project management framework. If you use an agile
				framework like SCRUM, then the concept of the roadmap and the project plan are integrated and you can use a tool like 
				<%= link_to 'OpenProject', page_path('openprojectimplementation') %> to carry out this activity otherwise follow the companies current framework. 
				If you need a simple framework you can start  <%= link_to 'here', page_path('projmgt') %>. </p><p> ITIL presents Design in the following categories </p>
		<hr />
			<%= 	image_tag("servicedesign1.png",:size => '200x200', alt: "Service Management"  ) %>
		<hr />
		</div>
			<p>As you move through this phase, you will be completing a 
			<%= link_to "Service Design Package", pdf_path('Service Design Package Draft Example.pdf')  %>. It is an extension of the Service Catalogue you have been creating.
			It includes the other fuctional areas that are to be considered when remediating or defining a service. You now need to look at items such as Backup and Recovery, Business Continuity Planning, 
			Security, Vendors, Availability, Service Levels. 
			Some of this you will have done, but you now need to complete the work to cover off all the gaps identified in the business case.</p>
			
			
		<p>As you work through the process you may find other issues with services that are currently not in the business case. E.g you find a backup and recovery process does not meet a current SLA.
			You should not just include this issue in the project, rather, you need to follow good project management and log the issue and ask for a scope change from the business who will then agree (or not) to
			fund the work.</p>
			
		<p>At the end of this step you will have a Service Design Package that lists all the services and how they meet the customers requirements or a set of tasks to get to the required level.
			E.g. If a Backup Cycle does not meet Requirements, the entry will have a task to "Reconfigure Backs to new schedule" and the schedule listed. It may also have a capacity management task to 
			confirm that the system will manage the new cycles and can restore in the appropriate timeframes. For larger items such as Installing a new monitoring
			system or capacity management server or a new tape backup system, you would produce a separate design document and refer to it in the Service Package document.</p>
			
		<p>The same would apply for addtional processes that maybe required to achieve business requirements. For example, you may need additional service desk processes. 
				You would design these processes in a separate document and refer to the document in the service package. You may use this 
				 <%= link_to "process template ", pdf_path('Process template Example.pdf')  %> which you can use to adapt to your business needs.
				 It is also good to keep in mind the  <%= link_to 'maturity levels', page_path('cobitmaturity')  %> required for your processes. 
				 You will most likely be moving from non existent or ad hoc processes to
				 documented and repeatable processes, but you may also look at how to optimise the process as well. This will build in quality and remove risk at the same time.
		</p>
		<p>If you need further help in documenting processes, you will find a great deal of process documentation in the <%= link_to 'COBIT 5 framework ', page_path('cobitprocesses')  %>. 
			You can down load and use it in your Service Management system. Below is a COBIT to ITIL mapping file that will help you target what you need.
			
		</p>	
				
				
		<p> You may even implement the whole service package in a collaboration system such as SharePoint or Confluence.</p>
		<p>You also need to update the roadmap which will summarise the project. </p>
		<%= 	image_tag("cobititilmapping1.png",:size => '600x600', alt: "Service Management"  ) %>
		

		
		
	
</div>
