<% content_for :title do %>Service Management Implementation<% end %>
	<p class="center">
	<%= link_to 'Service Overview', page_path('opsmgt')  %>
	<%= link_to '', page_path('opsmgt'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('serviceplanning'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Service Planning', page_path('serviceplanning')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Management Review</h1>

	<%= link_to image_tag("knowlegebasesymbol3.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 
	

	<p>These pages will take you through a Service Management Review. </p>
	<p>The process is run in 4 phases and adheres closley to a standard project methodology. We start with a discovery phase where the main output is a <strong>business case</strong> and a
		<strong>Road Map.</strong>  </p>
	
	
	<p> We then move through a

		<%= link_to 'planning phase', page_path('serviceplanning') %>, a
		<%= link_to 'building phase', page_path('projmgtexecution') %>, and a
		<%= link_to 'Close down/run phase', page_path('projmgtclosedown') %> 
		 of this Service Review/Implementation Project. If you want to understand how this process links to ITIL and PMBOK click  <%= link_to 'here', page_path('bizopsintegration') %></p> 
		 
<p>
			<%=link_to image_tag("opscyclegovern2.png",:size => '450x320', alt: "service Mgt"  ), page_path('bizopsprocess')%> 
			
</p>
<h3>Building the Business Case</h3>
<p>During the Discovery Phase you will build a business case. Below is the high level set of steps you will go through</p>

<p>
			<%=link_to image_tag("ServicesBCoverview.png",:size => '450x320', alt: "service Mgt"  )%> 
			
</p>
<p>You may extend the discovery to Best Practice and Technology Reviews as well. Your decision will depend on the time and money your company has to complete this project. I am assuming that the business goals include
	any new services as well as current services.</p>



<p>The business case will contain the following elements</p>

<ul>
	<li>Agreed IT Business Goals </li>
	<li>Current IT Service Baseline</li>	
	<li>High level gap analysis - Baseline to Goals</li>	
	<li>Proposed Service Improvement Scope and Benefits</li>
	<li>Cost Estimate</li>	
	<li>Risk Assessment</li>	
	<li>High Level Plan with Milestones</li>
	<li>Proposed Project Governance</li>			
</ul>
	</p>
<p>	
	You can use the template below as a starting point</p>
	<p>
	<%= link_to "Business Case Template", pdf_path('Business case template.pdf')  %>
	</p>
	
	
<h4>Business Goals - Define the Drivers<a name="Business Goals" id="Business Goals"></a></h4>
<p>The first step is to compare the current IT services and service levels to business expectations. 
	If you do not have a set of IT business goals matched to the business plan, then the following will constitute your first set of actions
	<ul>
	<li>Collect Business Goals from Business Stakeholders</li>
	<li>Create draft IT Business Goals aligned to the Business Goals</li>	
	<li>Gather Business Feedback</li>
	<li>Re-draft IT Business Goals</li>		
	<li>Present Goals to Executive Management for review and approval</li>
	<li>Publish Goals</li>	
	<li> <%= link_to "Cascade Goals ", page_path('cobitgoals')  %> to the team</li>		
</ul>
<p>Below is an example of how IT goals are mapped to business goals and how to cascade them to the team. This approach is also used the balanced scorecard performance management tool. You
	will find a lot of examples of how to execute this phase on the internet.</p>
<p>
<%=link_to image_tag("goalmapping1.png",:size => '1200x320', alt: "service Mgt"  )%>
</p>
<p>	
	You can downoad a template below in either Excel or LibreOffice format</p>
	<p>
	<%= link_to "Goal Mapping (excel)", pdf_path('Goalmapping1.xlsx')  %> </p><p> 
	<%= link_to "Goal Mapping (libroffice)", pdf_path('Goalmapping1.ods')  %>
		
	</p>

<p>Interviews and questionaires are a good approach for the initial information gathering. You may use a set of <%= link_to "generic goals ", page_path('cobitgoals')  %>as a check list to make sure you have covered all the ground. </p> 
<p>While you are in discovery (listerning) mode, you should not limit any business requirements. You will prioritise 
	and cost these requirements in later steps and present them back in the business case for a business decision. 
	This step is part of creating your <strong>Service Pipeline</strong> and building your <strong>Service Catalogue</strong></p>
	
	<%=link_to image_tag("serviceportfolio1.png",:size => '450x320', alt: "service Mgt"  )%>

<h4>IT Baseline - Where are we now</h4>
<p>	
	You need to be able to articulate the current services and service levels provided by the IT department and it's service partners to the business by business lines.
	It is best to start a draft Services Catelogue to hold the information.</p>
	<p>
	<%= link_to "Service Catalogue Draft Example.pdf", pdf_path('Service Catalogue Draft Example.pdf')  %>
	</p>
	
	
	
	You would typically divide the IT services into the standard ITIL practice areas of 
	
	<ul>
	<li>Service Desk</li>
	<li>Application Management</li>
	<li>Infrastructure Management</li>
</ul>

<p>You then map the Business Lines to the IT Services and Infrastructure
	<%=link_to image_tag("servicemapping1.png",:size => '450x320', alt: "service Mgt"  )%>	
	</p>
	<p>The diagram above is a simplified version of a mapping diagram. In reality there will be a lot of shared services and infrastructure. </p>		

	<p>You will be starting to define the <strong>Service Catalogue</strong> which is a part of your <strong>Service Portfolio</strong>. The draft Services
		catalogue above or similar document is a good place to record the information. 
		</p>
		<p>
		You will map IT services such as:
		
	<ul>
	<li>Incident Management</li>
	<li>Desktop Service Requests</li>
	<li>Access Request</li>
	<li>Application Enhancement</li>
	<li>Application Bug Fix</li>
	<li>New Product Web Page</li>
	<li>New Marketing Web Page</li>
	<li>New Employee Training</li>
	<li>Field Support Break Fix</li>
</ul>			
		</p> 
<p>You will have to balance the need to an create accurate detailed map of the current services with time and cost constraints of completing the business case. 
	The more detailed you are, the more accurate the gap analysis will be but this will put you at risk of analysis paralysis.
	 </p>
	<p>You may need the 
	services of an experienced Service Manager at this point. To complete this step and the gap analysis is a difficult task requiring expert knowledge
	and some well defined templates in order to complete in a resonable time. For example, the customer wants a single point of contact instead of being handed off for some calls. You
	may not be sure if you need to put in a knowledge base, improve the maturity of the incident management process, maybe upgrade the service desk software. An expert would get you
	to an answer without having to get into detailed design at this early stage and reduce the risk of getting the scope wrong.
	</p>
<h4>Mapping IT Structures to Services</h4>
<p>Next you need to map the applications, infrastructure and technical support to the plan. This will show how the physical environment supports the services</p>

<p>Your mapping is starting to look like
		<%=link_to image_tag("servicemapping2.png",:size => '450x320', alt: "service Mgt"  )%></p>	
	 <p>This is similar  to the <%= link_to  'OBASHI', 'http://en.wikipedia.org/wiki/OBASHI'%> framework as you are mapping the Business process, Applications, System, Hardware, and Infrastructure (BASHI). 
	 	This is also called the Business and IT diagram.</p>
<p> As you move through this process, you will be building the skeleton of 
you <%= link_to  ' Configuration Management System (CMDB) ', page_path('serviceCMDB' )%>and of your <%= link_to  'Configuration Items (CIs)', page_path('serviceCI' )%>.
	<%=link_to image_tag("serviceportfolio2.png",:size => '450x320', alt: "service Mgt"  )%>	
	 </p>	

	 
	 
<p>You then add your KPI's, current service trends and third party contract service levels to the defined services in your draft catalogue. 
You may have information such as
		 	
	<ul>
	<li>number of incoming calls</li>
	<li>number of incidents</li>
	<li>number of repeat incidents</li>
	<li>number of help desk resolutions</li>
	<li>number of escalations</li>
	<li>number of service interuptions</li>
	<li>average service down time</li>
	<li>number of changes </li>
	<li>number of change requests</li>
	<li>number of failed changes</li>
	<li>implementation of new services</li>
	<li>current costs by service line</li>
	<li>service hours</li>
	<li>service locations</li>
	<li>service skills</li>
	<li>service contracts</li>
	<li>number of service requests</li>
	<li>number of break/fix</li>
	<li>number of reports generated</li>
	<li>number of ad hoc requests</li>
	<li>capacity growth information</li>
	<li>number of application bugs</li>
	<li>number of systems by categories</li>
	<li>number of applications by categories</li>
</ul>
This is not a complete list, but it should give you an idea of the information required. </p>

<p>You will be building a mapping file that matches the kpi's to the services to define a current Service Level Objective. You need to avoid getting into detailed 
	analysis as this will occur in the planning phase. You are looking to complete a high level service catelogue to which you can compare to
	business expectations.
	<%=link_to image_tag("servicemapping3.png",:size => '450x320', alt: "service Mgt"  )%>	
</p>
<p> In the example above, you would be determining the overall Service Availability for this production service. If the application availability was completely reliant on the underlying infrastructure
   then the Availability is the lowest value of the core infrastructure. E.g. if the servers and SAN where 99% uptime and the Network was 98%, then the overall availability is 98%.
   The same process follows for reliability, the lowest reliability factor is the services kpi. When looking at response times and fix times, you will most likely involve your Service Desk and
   support vendors. Some of these KPI's are additive, i.e. A fix time can be the addition of the Vendor Service level plus the Service Desk KPI for calling the vendor.
   If you have  <%= link_to 'Lean Six Sigma', 'http://en.wikipedia.org/wiki/Lean_Six_Sigma'  %> experience, 
   you can use the  <%= link_to 'Measure', 'http://www.isixsigma.com/new-to-six-sigma/dmaic/six-sigma-dmaic-roadmap/'  %> processes to achieve a result.</p>
   


   
   
<h3>High Level Gap Analysis - Where do we want to be</h3>
<p> 
	During this process you will map the current services and the Service Level Objectives to business requirements, business pain points and define any gaps.
	You will estimate the effort and cost to make changes to processes and tools and to train people to remove the gaps.
	You will use the current draft catelogue, business goals and requirements and issues lists as inputs to the process.
	This will provide the scope and cost of the Service Improvement Project (SIP) you are intending to run. The aim is to provide an answer for the business, you need to avoid 
	any solutions that are not directly measureable against business goals. Implementing an ITIL process for it's own sake is not a good idea.
	</p>
<p>An example spreadsheet below demonstrates the information you need to collate and analyse.</p>

	<%=image_tag("servicesgap1.png",:size => '900x320', alt: "service Mgt" )%>	


<p>	
	You can download the spreadsheet template below in either Microsoft format or Opensource</p>
	<p>
	<%= link_to "Service Gap Template (Excel)", pdf_path('servicesgap1.xlsx')  %>
	</p>
	<p>
	<%= link_to "Service Gap Template (LibreOffice)", pdf_path('Service Management Gap Analysis.ods')  %>
	</p>
<p>You may have to revisit the business stakeholders to confirm some requirements as they maybe high level or not articulated at all.
	   If you have  <%= link_to 'Lean Six Sigma', 'http://en.wikipedia.org/wiki/Lean_Six_Sigma'  %> experience, 
   you can use the  <%= link_to 'Analyze', 'http://www.isixsigma.com/new-to-six-sigma/dmaic/six-sigma-dmaic-roadmap/'  %> processes to achieve a result
   for the more difficult gaps such as reducing fix times or response times. Please note that the gap analysis is driven by business goals. You should not carry out work that
   does not benefit the business. I have seen Service Reviews that are designed to improve the maturity of service processes, but none where tied back to a business benefit. This 
   approach would spend the companies money but not be agreed to by the business. </p>

<h3>Complete the Business Case and Roadmap</h3>
<p> From the Gap Analysis you should be able to complete the <%= link_to "Business Case Template", pdf_path('Business case template.pdf')  %>.
You will have to summarise the findings and work with your finance team to present the information in your business's expected format.
</p>
<p>Once your business case is approved, you will move to the planning phase where you will produce the detail plans required to change people, process and tools to meet
	the agreed scope of the business case.</p>

<p class="center">
	<%= link_to 'Service Overview', page_path('opsmgt')  %>
	<%= link_to '', page_path('opsmgt'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('serviceplanning'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Service Planning', page_path('serviceplanning')  %>		
	</p>
				
		
<hr />
      <div>
<p class = " small pull-right">     COBIT 5© ISACA  ITIL© AXELOS</p>     
     
      </div>	 
	 
	 
	 
	
		

