<% content_for :title do %>Services<% end %> <h1><i class="glyphicon glyphicon-briefcase"></i>Services</h1>
<blockquote>
	"All models are wrong, some are useful" - George E. P. Box
</blockquote>
<div class="container">
	<div id="carousel-services" class="carousel slide carousel-fade" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-services" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-services" data-slide-to="1"></li>
			<li data-target="#carousel-services" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<%= link_to image_tag("projecttimeline41200x315.png", alt: "pc mouse pic"), '#' %>
				<div class="carousel-caption ">
					<div class="text-info">
						<h3>IT Project Management</h3>
						<p class="lead">
							Cost effective approaches to better management.
						</p>
						<%= link_to 'Learn More', page_path('projmgt'),class: 'btn btn-large btn-primary'   %>
					</div>
				</div>
			</div>
			<div class="item">
				<%= link_to image_tag("itil v31200x315.png", alt: "dunn itc logo"), '#' %>
				<div class="carousel-caption">
					<div class="text-info">
						<h3>IT Business Operations</h3>
						<p class="lead">
							Governance, Cost Management, Vendor Management.
						</p>
						<%= link_to 'Learn More', page_path('bizops'),class: 'btn btn-large btn-primary'   %>
					</div>
				</div>
			</div>
			<div class="item">
				<%= link_to image_tag("opscycle21200x315.png", alt: "ops cycle"), '#' %>
				<div class="carousel-caption">
					<h3> IT Service Management</h3>
					<p class="lead">
						Service management that works, Service Recovery
					</p>
					<!--	<a class="btn btn-large btn-primary" href="#">Learn more</a> -->
					<%= link_to 'Learn More', page_path('opsmgt'),class: 'btn btn-large btn-primary'   %>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-services" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
		<a class="right carousel-control" href="#carousel-services" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
	</div>
	<!-- Carousel -->

	<hr>

	<div class="row">
		<div class="col-sm-4">
			<h4> <%= link_to 'IT Project Management', page_path('projmgt'),class: 'center' %></h4>
			<%= link_to image_tag("plansymbol.png",:size => '50x50', alt: "Rails"  ), page_path('projmgt'),class: 'pull-left' %>
			<div class="padp">
				<p>
					How do you run projects successfully without an extreme amount of overhead yet still cover all the bases.
				</p>
				<p>
					Project Management is an extremely well defined discipline. Reference volumes run to well over <strong>500 pages</strong> of process, procedures,
					guides and templates. No doubt that this detailed approach is required for large and complex projects, but for smaller, almost everyday projects
					a simpler, cost effective, tailored approach is required.
				</p>
				<p>
					Checkout our <%= link_to 'integrated approach.', page_path('projmgt') %>
				</p>
			</div>
			<!-- padp -->
		</div>
		<!-- column1 -->
		<div class="col-sm-4">
			<h4><%= link_to 'IT Service Management', page_path('opsmgt'),class: 'center' %></h4>
			<%= link_to image_tag("buildsymbol.png", :size => '50x50',alt: "Ops mgt" ), page_path('opsmgt'),class: 'pull-left'  %>
			<div class="padp">
				<p>
					How do you move from an operations focus to a service focus and not lose sight of good operational practices or incur large implementation costs ?
				</p>
				<p>
					Like project management, ITIL and COBIT are large bodies of knowledge describing how to run an IT Division. ITSM can get a life of its own as you implement the
					25 key processes in 5 core volumes of ITIL or COBITs 37 processes, 210 activities and 1112 task and at the end you may not achieve
					<%= link_to 'improvements in IT operations', 'http://www.prnewswire.com/news-releases/compass-itil-cobit-compliance-do-not-equal-process-maturity-134741993.html'%>
				</p>
				<p>
					<%= link_to 'Click here to learn more.', page_path('opsmgt') %>
				</p>
			</div>
			<!-- padp -->
		</div><!-- column2 -->
		<div class="col-sm-4">
			<h4><%= link_to 'IT Business Management', page_path('bizops'),class: 'center' %></h4>
			<%= link_to image_tag("discoversymbol.png", :size => '50x50',alt: "Business management"), page_path('bizops'),class: 'pull-left' %>
			<div class="padp">
				<p>
					Business Management provides the governance functions for the IT organisation and the management interface to the business.
				</p>
				<p>There is only one framework, COBIT, which provides any guidance on the best approach. <%= link_to 'Read more', page_path('bizops') %></p>
			</div>
			<!-- padp -->
		</div><!-- column3 -->
	</div><!-- Row1 -->
</div>
<!-- container -->



<script type="text/javascript">
	$(document).ready(function() {
		$('#carousel-services').carousel({
			interval : 4000
		});
	}); 
</script>
