<% content_for :title do %>Service Management Build<% end %>
	<p class="center">
	<%= link_to 'Service Planning', page_path('serviceplanning')  %>
	<%= link_to '', page_path('serviceplanning'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('servicerun'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'Service Run', page_path('servicerun')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Implementation - Build Phase</h1>

	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 


<div class = "container">
	<div class = "padp">
			
	<h3>Under construction</h3>		
			

		
</div>		
	
</div>