<footer class="footer"> 
  	 <div class="container" >		 
	 	<%= link_to image_tag("beachsmall1.png", alt: "Footer"), 'http://ec2-54-79-116-161.ap-southeast-2.compute.amazonaws.com/' %> 
     </div>
  <nav>
        <ul class="nav navbar-nav">
<li><%= link_to 'About', page_path('about'),class: 'glyphicon glyphicon-book' %></li>
<li><%= link_to 'Contact', page_path('contact'),class: 'glyphicon glyphicon-comment' %></li>
<li><%= link_to 'OpenProject', 'http://Openproject.org/',class: 'glyphicon glyphicon-road' %></li>
<li><%= link_to 'Itop', 'http://www.combodo.com/itop',class: 'glyphicon glyphicon-stats' %></li>
    </ul>

    
       <p class="navbar-text navbar-right">
       	<a href="https://twitter.com/brendandunn123" class="twitter-follow-button" data-show-count="false">Follow @brendandunn123</a>
       	
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);
js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}
(document, 'script', 'twitter-wjs');</script>
       	<%= link_to 'Dunn ITC', 'http://ec2-54-79-116-161.ap-southeast-2.compute.amazonaws.com/',class: 'navbar-link' %>

          &copy Brendan Dunn
      </p>
  </nav>  
</footer>